cdc-sandbox/nifi/templates/Lab_Report_Ingestion.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>b1c8ea1b-f542-3e23-948e-f4ea563c0413</groupId>
    <name>Lab Report Ingestion</name>
    <snippet>
        <connections>
            <id>130ef3ef-0127-3296-0000-000000000000</id>
            <parentGroupId>6699afc0-82e2-34bb-0000-000000000000</parentGroupId>
            <versionedComponentId>130ef3ef-0127-3296-923e-f171d6ea43d9</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>6699afc0-82e2-34bb-0000-000000000000</groupId>
                <id>5a991e9c-2482-3e4c-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>5a991e9c-2482-3e4c-8184-0292371c14c0</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>6699afc0-82e2-34bb-0000-000000000000</groupId>
                <id>a3b1a16f-f9b9-35a2-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>a3b1a16f-f9b9-35a2-9b50-4417f460e446</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>2093fb50-4cc3-3442-0000-000000000000</id>
            <parentGroupId>6699afc0-82e2-34bb-0000-000000000000</parentGroupId>
            <versionedComponentId>2093fb50-4cc3-3442-9ba4-e9c913f9fd4b</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>6699afc0-82e2-34bb-0000-000000000000</groupId>
                <id>d5c32859-ff01-3336-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>d5c32859-ff01-3336-a4b0-559fe1f48ec3</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>unmatched</selectedRelationships>
            <source>
                <groupId>6699afc0-82e2-34bb-0000-000000000000</groupId>
                <id>5d48ecb3-6ea5-355f-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>5d48ecb3-6ea5-355f-a5f5-ea8c76cda28b</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>2deae02f-28f6-3a42-0000-000000000000</id>
            <parentGroupId>6699afc0-82e2-34bb-0000-000000000000</parentGroupId>
            <versionedComponentId>2deae02f-28f6-3a42-9ca1-e752078741eb</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>6699afc0-82e2-34bb-0000-000000000000</groupId>
                <id>ca77bf57-7a09-33fb-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>ca77bf57-7a09-33fb-81a0-50e7782cf51c</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>6699afc0-82e2-34bb-0000-000000000000</groupId>
                <id>127a909a-e938-369f-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>127a909a-e938-369f-9cff-b6c81c889dc3</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>2e27e907-7f2a-3053-0000-000000000000</id>
            <parentGroupId>6699afc0-82e2-34bb-0000-000000000000</parentGroupId>
            <versionedComponentId>2e27e907-7f2a-3053-a6b9-e61d4e5f5608</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>6699afc0-82e2-34bb-0000-000000000000</groupId>
                <id>744a85b0-9a50-3268-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>744a85b0-9a50-3268-928a-c513b783e831</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <selectedRelationships>unmatched</selectedRelationships>
            <source>
                <groupId>6699afc0-82e2-34bb-0000-000000000000</groupId>
                <id>3425957b-6fb5-3469-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>3425957b-6fb5-3469-b063-97798f620724</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>674cf533-09cb-365a-0000-000000000000</id>
            <parentGroupId>6699afc0-82e2-34bb-0000-000000000000</parentGroupId>
            <versionedComponentId>674cf533-09cb-365a-b448-84f9096eb41d</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>6699afc0-82e2-34bb-0000-000000000000</groupId>
                <id>7372aa6f-fa7b-393d-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>7372aa6f-fa7b-393d-a90f-e80598f7331b</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>empty</selectedRelationships>
            <source>
                <groupId>6699afc0-82e2-34bb-0000-000000000000</groupId>
                <id>5d48ecb3-6ea5-355f-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>5d48ecb3-6ea5-355f-a5f5-ea8c76cda28b</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>8166f19a-5d0a-3cec-0000-000000000000</id>
            <parentGroupId>6699afc0-82e2-34bb-0000-000000000000</parentGroupId>
            <versionedComponentId>8166f19a-5d0a-3cec-824a-9bdfa1822cab</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>6699afc0-82e2-34bb-0000-000000000000</groupId>
                <id>3425957b-6fb5-3469-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>3425957b-6fb5-3469-b063-97798f620724</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>split</selectedRelationships>
            <source>
                <groupId>6699afc0-82e2-34bb-0000-000000000000</groupId>
                <id>d5c32859-ff01-3336-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>d5c32859-ff01-3336-a4b0-559fe1f48ec3</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>8dde950e-abdf-396a-0000-000000000000</id>
            <parentGroupId>6699afc0-82e2-34bb-0000-000000000000</parentGroupId>
            <versionedComponentId>8dde950e-abdf-396a-a9ad-12dcb953f1d8</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>6699afc0-82e2-34bb-0000-000000000000</groupId>
                <id>127a909a-e938-369f-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>127a909a-e938-369f-9cff-b6c81c889dc3</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>6699afc0-82e2-34bb-0000-000000000000</groupId>
                <id>d30b547f-f92d-3229-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>d30b547f-f92d-3229-8cd3-892a479737d7</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>afcf1343-5d9d-36fa-0000-000000000000</id>
            <parentGroupId>6699afc0-82e2-34bb-0000-000000000000</parentGroupId>
            <versionedComponentId>afcf1343-5d9d-36fa-8898-e7e5905dbb5e</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>6699afc0-82e2-34bb-0000-000000000000</groupId>
                <id>5d48ecb3-6ea5-355f-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>5d48ecb3-6ea5-355f-a5f5-ea8c76cda28b</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>6699afc0-82e2-34bb-0000-000000000000</groupId>
                <id>a3b1a16f-f9b9-35a2-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>a3b1a16f-f9b9-35a2-9b50-4417f460e446</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>b6623b8f-14cd-3f6c-0000-000000000000</id>
            <parentGroupId>6699afc0-82e2-34bb-0000-000000000000</parentGroupId>
            <versionedComponentId>b6623b8f-14cd-3f6c-a464-455127623d3f</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>6699afc0-82e2-34bb-0000-000000000000</groupId>
                <id>e6164941-4cdd-3a5b-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>e6164941-4cdd-3a5b-8ef3-10bca052cfe1</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>6699afc0-82e2-34bb-0000-000000000000</groupId>
                <id>3425957b-6fb5-3469-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>3425957b-6fb5-3469-b063-97798f620724</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>ce863792-b6d3-3eff-0000-000000000000</id>
            <parentGroupId>6699afc0-82e2-34bb-0000-000000000000</parentGroupId>
            <versionedComponentId>ce863792-b6d3-3eff-9376-445a76740ae5</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>6699afc0-82e2-34bb-0000-000000000000</groupId>
                <id>7764d850-7187-3d3c-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>7764d850-7187-3d3c-b1b6-0ff5487c9e9d</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>errors</selectedRelationships>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>6699afc0-82e2-34bb-0000-000000000000</groupId>
                <id>e6164941-4cdd-3a5b-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>e6164941-4cdd-3a5b-8ef3-10bca052cfe1</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>d10eb826-9b38-39d3-0000-000000000000</id>
            <parentGroupId>6699afc0-82e2-34bb-0000-000000000000</parentGroupId>
            <versionedComponentId>d10eb826-9b38-39d3-acd5-a3bf2be8f800</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>6699afc0-82e2-34bb-0000-000000000000</groupId>
                <id>a3b1a16f-f9b9-35a2-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>a3b1a16f-f9b9-35a2-9b50-4417f460e446</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>6699afc0-82e2-34bb-0000-000000000000</groupId>
                <id>127a909a-e938-369f-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>127a909a-e938-369f-9cff-b6c81c889dc3</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>d5f24a3e-5e27-3173-0000-000000000000</id>
            <parentGroupId>6699afc0-82e2-34bb-0000-000000000000</parentGroupId>
            <versionedComponentId>d5f24a3e-5e27-3173-99fe-ad9756b7d64c</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>6699afc0-82e2-34bb-0000-000000000000</groupId>
                <id>d30b547f-f92d-3229-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>d30b547f-f92d-3229-8cd3-892a479737d7</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>aggregations</selectedRelationships>
            <selectedRelationships>hits</selectedRelationships>
            <source>
                <groupId>6699afc0-82e2-34bb-0000-000000000000</groupId>
                <id>b106898c-00c0-3dc9-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>b106898c-00c0-3dc9-9e96-007535e7662d</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>2b36a355-37bd-3e23-0000-000000000000</id>
            <parentGroupId>6699afc0-82e2-34bb-0000-000000000000</parentGroupId>
            <versionedComponentId>2b36a355-37bd-3e23-998d-86429a18ecf7</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-elasticsearch-client-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>el-cs-http-hosts</key>
                    <value>
                        <name>el-cs-http-hosts</name>
                    </value>
                </entry>
                <entry>
                    <key>authorization-scheme</key>
                    <value>
                        <name>authorization-scheme</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-username</key>
                    <value>
                        <dependencies>
                            <dependentValues>BASIC</dependentValues>
                            <propertyName>authorization-scheme</propertyName>
                        </dependencies>
                        <name>el-cs-username</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-password</key>
                    <value>
                        <dependencies>
                            <dependentValues>BASIC</dependentValues>
                            <propertyName>authorization-scheme</propertyName>
                        </dependencies>
                        <name>el-cs-password</name>
                    </value>
                </entry>
                <entry>
                    <key>api-key-id</key>
                    <value>
                        <dependencies>
                            <dependentValues>API_KEY</dependentValues>
                            <propertyName>authorization-scheme</propertyName>
                        </dependencies>
                        <name>api-key-id</name>
                    </value>
                </entry>
                <entry>
                    <key>api-key</key>
                    <value>
                        <dependencies>
                            <dependentValues>API_KEY</dependentValues>
                            <propertyName>authorization-scheme</propertyName>
                        </dependencies>
                        <name>api-key</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-ssl-context-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                        <name>el-cs-ssl-context-service</name>
                    </value>
                </entry>
                <entry>
                    <key>proxy-configuration-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                        <name>proxy-configuration-service</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-connect-timeout</key>
                    <value>
                        <name>el-cs-connect-timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-socket-timeout</key>
                    <value>
                        <name>el-cs-socket-timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-retry-timeout</key>
                    <value>
                        <name>el-cs-retry-timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-charset</key>
                    <value>
                        <name>el-cs-charset</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-suppress-nulls</key>
                    <value>
                        <name>el-cs-suppress-nulls</name>
                    </value>
                </entry>
            </descriptors>
            <name>ElasticSearchClientServiceImpl</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>el-cs-http-hosts</key>
                    <value>${ELASTICSEARCH_HTTP_HOSTS}</value>
                </entry>
                <entry>
                    <key>authorization-scheme</key>
                    <value>BASIC</value>
                </entry>
                <entry>
                    <key>el-cs-username</key>
                </entry>
                <entry>
                    <key>el-cs-password</key>
                </entry>
                <entry>
                    <key>api-key-id</key>
                </entry>
                <entry>
                    <key>api-key</key>
                </entry>
                <entry>
                    <key>el-cs-ssl-context-service</key>
                </entry>
                <entry>
                    <key>proxy-configuration-service</key>
                </entry>
                <entry>
                    <key>el-cs-connect-timeout</key>
                    <value>5000</value>
                </entry>
                <entry>
                    <key>el-cs-socket-timeout</key>
                    <value>60000</value>
                </entry>
                <entry>
                    <key>el-cs-retry-timeout</key>
                    <value>60000</value>
                </entry>
                <entry>
                    <key>el-cs-charset</key>
                    <value>UTF-8</value>
                </entry>
                <entry>
                    <key>el-cs-suppress-nulls</key>
                    <value>always-suppress</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.elasticsearch.ElasticSearchClientServiceImpl</type>
        </controllerServices>
        <controllerServices>
            <id>62dfbc9b-35ed-3170-0000-000000000000</id>
            <parentGroupId>6699afc0-82e2-34bb-0000-000000000000</parentGroupId>
            <versionedComponentId>62dfbc9b-35ed-3170-9740-018ee543de2f</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
                        <name>kerberos-user-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                    <value>
                        <name>kerberos-principal</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                    <value>
                        <name>kerberos-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>
                        <name>dbcp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>
                        <name>dbcp-max-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>
                        <name>dbcp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>
                        <name>dbcp-time-between-eviction-runs</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-soft-min-evictable-idle-time</name>
                    </value>
                </entry>
            </descriptors>
            <name>mymssqlserver</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>${JDBC_CONNECTION_STRING}</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>com.microsoft.sqlserver.jdbc.SQLServerDriver</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>${JDBC_DRIVER}</value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                </entry>
                <entry>
                    <key>Database User</key>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>500 millis</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>30 mins</value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>-1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <labels>
            <id>04bc744c-ad07-31df-0000-000000000000</id>
            <parentGroupId>6699afc0-82e2-34bb-0000-000000000000</parentGroupId>
            <position>
                <x>1268.9999687817008</x>
                <y>5.999965547625152</y>
            </position>
            <versionedComponentId>04bc744c-ad07-31df-a961-e7ca089fccef</versionedComponentId>
            <height>88.0</height>
            <label>Query the db for anything with a change 
later than the latest"last_change"</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>16px</value>
                </entry>
            </style>
            <width>320.0</width>
            <zIndex>0</zIndex>
        </labels>
        <labels>
            <id>bf087bce-1555-3d22-0000-000000000000</id>
            <parentGroupId>6699afc0-82e2-34bb-0000-000000000000</parentGroupId>
            <position>
                <x>664.0</x>
                <y>624.0</y>
            </position>
            <versionedComponentId>bf087bce-1555-3d22-b404-811b9c5336e5</versionedComponentId>
            <height>88.0</height>
            <label>For each row returned, set an "_id" so
we can do Upsert when ingesting data</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>16px</value>
                </entry>
            </style>
            <width>320.0</width>
            <zIndex>0</zIndex>
        </labels>
        <labels>
            <id>eac24c65-8e26-332a-0000-000000000000</id>
            <parentGroupId>6699afc0-82e2-34bb-0000-000000000000</parentGroupId>
            <position>
                <x>16.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>eac24c65-8e26-332a-9b42-fb6dec276a6c</versionedComponentId>
            <height>88.0</height>
            <label>Find the latest "last_change" date in ES</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>16px</value>
                </entry>
            </style>
            <width>320.0</width>
            <zIndex>0</zIndex>
        </labels>
        <processors>
            <id>127a909a-e938-369f-0000-000000000000</id>
            <parentGroupId>6699afc0-82e2-34bb-0000-000000000000</parentGroupId>
            <position>
                <x>1248.0</x>
                <y>144.0</y>
            </position>
            <versionedComponentId>127a909a-e938-369f-9cff-b6c81c889dc3</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Database Connection Pooling Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                            <name>Database Connection Pooling Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sql-pre-query</key>
                        <value>
                            <name>sql-pre-query</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SQL select query</key>
                        <value>
                            <name>SQL select query</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sql-post-query</key>
                        <value>
                            <name>sql-post-query</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Wait Time</key>
                        <value>
                            <name>Max Wait Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>dbf-normalize</key>
                        <value>
                            <name>dbf-normalize</name>
                        </value>
                    </entry>
                    <entry>
                        <key>dbf-user-logical-types</key>
                        <value>
                            <name>dbf-user-logical-types</name>
                        </value>
                    </entry>
                    <entry>
                        <key>compression-format</key>
                        <value>
                            <name>compression-format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>dbf-default-precision</key>
                        <value>
                            <name>dbf-default-precision</name>
                        </value>
                    </entry>
                    <entry>
                        <key>dbf-default-scale</key>
                        <value>
                            <name>dbf-default-scale</name>
                        </value>
                    </entry>
                    <entry>
                        <key>esql-max-rows</key>
                        <value>
                            <name>esql-max-rows</name>
                        </value>
                    </entry>
                    <entry>
                        <key>esql-output-batch-size</key>
                        <value>
                            <name>esql-output-batch-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>esql-fetch-size</key>
                        <value>
                            <name>esql-fetch-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>esql-auto-commit</key>
                        <value>
                            <name>esql-auto-commit</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Database Connection Pooling Service</key>
                        <value>62dfbc9b-35ed-3170-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>sql-pre-query</key>
                    </entry>
                    <entry>
                        <key>SQL select query</key>
                        <value>SELECT
	concat(
	labReport.observation_uid,',', 
	labReport.local_id,',', 
	labReport.local_id, ',',
	labReport.subject_entity_uid, ',',
	type_cd,',',
	 act_uid) id,
	(
		SELECT
			Max(v)
		FROM (
			VALUES(person_last_chg_time),
				(observation_last_chg_time),
				(act_id_last_chg_time),
				(participation_last_chg_time)) AS value (v)) AS last_change,
	labReport.*
FROM (
	SELECT
		act.class_cd class_cd,
		act.mood_cd mood_cd,
		act_id.type_desc_txt type_desc_txt,
		act_id.root_extension_txt root_extension_txt,
		observation.observation_uid observation_uid,
		observation.cd_desc_txt cd_desc_txt,
		observation2.program_jurisdiction_oid program_jurisdiction_oid,
		observation2.prog_area_cd program_area_cd,
		observation2.jurisdiction_cd jurisdiction_cd,
		observation.pregnant_ind_cd pregnant_ind_cd,
		observation.local_id local_id,
		observation.activity_to_time activity_to_time,
		observation.effective_from_time effective_from_time,
		observation.rpt_to_state_time rpt_to_state_time,
		observation.add_time add_time,
		observation.electronic_ind electronic_ind,
		observation.version_ctrl_nbr version_ctrl_nbr,
		observation2.record_status_cd observation_record_status_cd,
		observation.add_user_id add_user_id,
		observation.last_chg_user_id last_chg_user_id,
		participation.type_cd type_cd,
		participation.subject_class_cd subject_class_cd,
		participation.subject_entity_uid subject_entity_uid,
		act.act_uid act_uid,
		person.cd person_cd,
		person.record_status_cd person_record_status_cd,
		ovc.display_name display_name,
		participation.last_chg_time participation_last_chg_time,
		act_id.last_chg_time act_id_last_chg_time,
		person.last_chg_time person_last_chg_time,
		observation.last_chg_time observation_last_chg_time
	FROM
		dbo.observation
	JOIN dbo.act_relationship actRel ON (observation.observation_uid = actRel.source_act_uid)
	LEFT JOIN dbo.observation observation2 ON (observation2.observation_uid = actRel.target_act_uid)
	LEFT JOIN dbo.obs_value_coded ovc ON (ovc.observation_uid = actRel.source_act_uid)
	LEFT JOIN dbo.act act ON (act.act_uid = actRel.target_act_uid)
	LEFT JOIN dbo.participation participation ON (participation.act_uid = act.act_uid)
	LEFT JOIN dbo.act_id act_id ON (act_id.act_uid = observation.observation_uid)
	LEFT JOIN dbo.Person person ON (person.person_uid = participation.subject_entity_uid)) AS labReport
WHERE (
	SELECT
		Max(v)
	FROM (
		VALUES(person_last_chg_time),
			(observation_last_chg_time),
			(act_id_last_chg_time),
			(participation_last_chg_time)) AS value (v)) &gt; '${last_change}'
ORDER BY
	last_change ASC;</value>
                    </entry>
                    <entry>
                        <key>sql-post-query</key>
                    </entry>
                    <entry>
                        <key>Max Wait Time</key>
                        <value>0 seconds</value>
                    </entry>
                    <entry>
                        <key>dbf-normalize</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>dbf-user-logical-types</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>compression-format</key>
                        <value>NONE</value>
                    </entry>
                    <entry>
                        <key>dbf-default-precision</key>
                        <value>10</value>
                    </entry>
                    <entry>
                        <key>dbf-default-scale</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>esql-max-rows</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>esql-output-batch-size</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>esql-fetch-size</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>esql-auto-commit</key>
                        <value>true</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>30 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Query for Lab Reports</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
        </processors>
        <processors>
            <id>3425957b-6fb5-3469-0000-000000000000</id>
            <parentGroupId>6699afc0-82e2-34bb-0000-000000000000</parentGroupId>
            <position>
                <x>648.0</x>
                <y>736.0</y>
            </position>
            <versionedComponentId>3425957b-6fb5-3469-b063-97798f620724</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Destination</key>
                        <value>
                            <name>Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>
                            <name>Return Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>
                            <name>Path Not Found Behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                    <entry>
                        <key>_id</key>
                        <value>
                            <name>_id</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-attribute</value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>auto-detect</value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>ignore</value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                    <entry>
                        <key>_id</key>
                        <value>$.id</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>EvaluateJsonPath</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unmatched</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
            <id>5a991e9c-2482-3e4c-0000-000000000000</id>
            <parentGroupId>6699afc0-82e2-34bb-0000-000000000000</parentGroupId>
            <position>
                <x>2576.0</x>
                <y>144.0</y>
            </position>
            <versionedComponentId>5a991e9c-2482-3e4c-8184-0292371c14c0</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>log-level</key>
                        <value>
                            <name>log-level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>log-prefix</key>
                        <value>
                            <name>log-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>log-message</key>
                        <value>
                            <name>log-message</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>log-level</key>
                        <value>error</value>
                    </entry>
                    <entry>
                        <key>log-prefix</key>
                        <value>LabReport-Avro-Json:</value>
                    </entry>
                    <entry>
                        <key>log-message</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>LogMessage</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#f20000</value>
                </entry>
            </style>
            <type>org.apache.nifi.processors.standard.LogMessage</type>
        </processors>
        <processors>
            <id>5d48ecb3-6ea5-355f-0000-000000000000</id>
            <parentGroupId>6699afc0-82e2-34bb-0000-000000000000</parentGroupId>
            <position>
                <x>1880.0</x>
                <y>736.0</y>
            </position>
            <versionedComponentId>5d48ecb3-6ea5-355f-a5f5-ea8c76cda28b</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Match Requirement</key>
                        <value>
                            <name>Match Requirement</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content Buffer Size</key>
                        <value>
                            <name>Content Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>empty</key>
                        <value>
                            <name>empty</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Match Requirement</key>
                        <value>content must match exactly</value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Content Buffer Size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>empty</key>
                        <value>\{\}</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Check if empty</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>empty</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unmatched</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.RouteOnContent</type>
        </processors>
        <processors>
            <id>7372aa6f-fa7b-393d-0000-000000000000</id>
            <parentGroupId>6699afc0-82e2-34bb-0000-000000000000</parentGroupId>
            <position>
                <x>1880.0</x>
                <y>984.0</y>
            </position>
            <versionedComponentId>7372aa6f-fa7b-393d-a90f-e80598f7331b</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>log-level</key>
                        <value>
                            <name>log-level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>log-prefix</key>
                        <value>
                            <name>log-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>log-message</key>
                        <value>
                            <name>log-message</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>log-level</key>
                        <value>info</value>
                    </entry>
                    <entry>
                        <key>log-prefix</key>
                        <value>LabReport-No-Updates:</value>
                    </entry>
                    <entry>
                        <key>log-message</key>
                        <value>No updates found</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>LogMessage</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#158f00</value>
                </entry>
            </style>
            <type>org.apache.nifi.processors.standard.LogMessage</type>
        </processors>
        <processors>
            <id>744a85b0-9a50-3268-0000-000000000000</id>
            <parentGroupId>6699afc0-82e2-34bb-0000-000000000000</parentGroupId>
            <position>
                <x>648.0</x>
                <y>984.0</y>
            </position>
            <versionedComponentId>744a85b0-9a50-3268-928a-c513b783e831</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>log-level</key>
                        <value>
                            <name>log-level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>log-prefix</key>
                        <value>
                            <name>log-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>log-message</key>
                        <value>
                            <name>log-message</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>log-level</key>
                        <value>error</value>
                    </entry>
                    <entry>
                        <key>log-prefix</key>
                        <value>LabReport-Read-Id:</value>
                    </entry>
                    <entry>
                        <key>log-message</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>LogMessage</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#f20000</value>
                </entry>
            </style>
            <type>org.apache.nifi.processors.standard.LogMessage</type>
        </processors>
        <processors>
            <id>7764d850-7187-3d3c-0000-000000000000</id>
            <parentGroupId>6699afc0-82e2-34bb-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>984.0</y>
            </position>
            <versionedComponentId>7764d850-7187-3d3c-b1b6-0ff5487c9e9d</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>log-level</key>
                        <value>
                            <name>log-level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>log-prefix</key>
                        <value>
                            <name>log-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>log-message</key>
                        <value>
                            <name>log-message</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>log-level</key>
                        <value>error</value>
                    </entry>
                    <entry>
                        <key>log-prefix</key>
                        <value>LabReport-ElasticSearch-Upsert:</value>
                    </entry>
                    <entry>
                        <key>log-message</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>LogMessage</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#f20000</value>
                </entry>
            </style>
            <type>org.apache.nifi.processors.standard.LogMessage</type>
        </processors>
        <processors>
            <id>a3b1a16f-f9b9-35a2-0000-000000000000</id>
            <parentGroupId>6699afc0-82e2-34bb-0000-000000000000</parentGroupId>
            <position>
                <x>1880.0</x>
                <y>144.0</y>
            </position>
            <versionedComponentId>a3b1a16f-f9b9-35a2-9b50-4417f460e446</versionedComponentId>
            <bundle>
                <artifact>nifi-avro-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>JSON container options</key>
                        <value>
                            <name>JSON container options</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Wrap Single Record</key>
                        <value>
                            <name>Wrap Single Record</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Avro schema</key>
                        <value>
                            <name>Avro schema</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>JSON container options</key>
                        <value>array</value>
                    </entry>
                    <entry>
                        <key>Wrap Single Record</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Avro schema</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ConvertAvroToJSON</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.avro.ConvertAvroToJSON</type>
        </processors>
        <processors>
            <id>b106898c-00c0-3dc9-0000-000000000000</id>
            <parentGroupId>6699afc0-82e2-34bb-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>144.0</y>
            </position>
            <versionedComponentId>b106898c-00c0-3dc9-9e96-007535e7662d</versionedComponentId>
            <bundle>
                <artifact>nifi-elasticsearch-restapi-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>el-rest-query</key>
                        <value>
                            <name>el-rest-query</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-query-attribute</key>
                        <value>
                            <name>el-query-attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-fetch-index</key>
                        <value>
                            <name>el-rest-fetch-index</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-type</key>
                        <value>
                            <name>el-rest-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-client-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.elasticsearch.ElasticSearchClientService</identifiesControllerService>
                            <name>el-rest-client-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-split-up-hits</key>
                        <value>
                            <name>el-rest-split-up-hits</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-split-up-aggregations</key>
                        <value>
                            <name>el-rest-split-up-aggregations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-pagination-type</key>
                        <value>
                            <name>el-rest-pagination-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-pagination-keep-alive</key>
                        <value>
                            <name>el-rest-pagination-keep-alive</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-output-no-hits</key>
                        <value>
                            <name>el-rest-output-no-hits</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>PRIMARY</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>el-rest-query</key>
                        <value>{
  "size": 1,
  "query": {
    "match_all": {}
  },
  "_source": [
    "last_change"
    ],
  "sort" : [
    {
      "last_change": "desc"
    }
    ]
}</value>
                    </entry>
                    <entry>
                        <key>el-query-attribute</key>
                    </entry>
                    <entry>
                        <key>el-rest-fetch-index</key>
                        <value>lab_report</value>
                    </entry>
                    <entry>
                        <key>el-rest-type</key>
                    </entry>
                    <entry>
                        <key>el-rest-client-service</key>
                        <value>2b36a355-37bd-3e23-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>el-rest-split-up-hits</key>
                        <value>splitUp-yes</value>
                    </entry>
                    <entry>
                        <key>el-rest-split-up-aggregations</key>
                        <value>splitUp-no</value>
                    </entry>
                    <entry>
                        <key>el-rest-pagination-type</key>
                        <value>pagination-scroll</value>
                    </entry>
                    <entry>
                        <key>el-rest-pagination-keep-alive</key>
                        <value>1 secs</value>
                    </entry>
                    <entry>
                        <key>el-rest-output-no-hits</key>
                        <value>true</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>5 min</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>true</executionNodeRestricted>
            <name>SearchElasticsearch</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>aggregations</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>hits</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.elasticsearch.SearchElasticsearch</type>
        </processors>
        <processors>
            <id>ca77bf57-7a09-33fb-0000-000000000000</id>
            <parentGroupId>6699afc0-82e2-34bb-0000-000000000000</parentGroupId>
            <position>
                <x>1248.0</x>
                <y>408.0</y>
            </position>
            <versionedComponentId>ca77bf57-7a09-33fb-81a0-50e7782cf51c</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>log-level</key>
                        <value>
                            <name>log-level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>log-prefix</key>
                        <value>
                            <name>log-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>log-message</key>
                        <value>
                            <name>log-message</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>log-level</key>
                        <value>error</value>
                    </entry>
                    <entry>
                        <key>log-prefix</key>
                        <value>LabReport-Select:</value>
                    </entry>
                    <entry>
                        <key>log-message</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>LogMessage</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#f20000</value>
                </entry>
            </style>
            <type>org.apache.nifi.processors.standard.LogMessage</type>
        </processors>
        <processors>
            <id>d30b547f-f92d-3229-0000-000000000000</id>
            <parentGroupId>6699afc0-82e2-34bb-0000-000000000000</parentGroupId>
            <position>
                <x>648.0</x>
                <y>144.0</y>
            </position>
            <versionedComponentId>d30b547f-f92d-3229-8cd3-892a479737d7</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Destination</key>
                        <value>
                            <name>Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>
                            <name>Return Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>
                            <name>Path Not Found Behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                    <entry>
                        <key>last_change</key>
                        <value>
                            <name>last_change</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-attribute</value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>auto-detect</value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>ignore</value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                    <entry>
                        <key>last_change</key>
                        <value>$._source.last_change</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>EvaluateJsonPath</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
            <id>d5c32859-ff01-3336-0000-000000000000</id>
            <parentGroupId>6699afc0-82e2-34bb-0000-000000000000</parentGroupId>
            <position>
                <x>1248.0</x>
                <y>736.0</y>
            </position>
            <versionedComponentId>d5c32859-ff01-3336-a4b0-559fe1f48ec3</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>JsonPath Expression</key>
                        <value>
                            <name>JsonPath Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>JsonPath Expression</key>
                        <value>$</value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>SplitJson</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>split</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.SplitJson</type>
        </processors>
        <processors>
            <id>e6164941-4cdd-3a5b-0000-000000000000</id>
            <parentGroupId>6699afc0-82e2-34bb-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>736.0</y>
            </position>
            <versionedComponentId>e6164941-4cdd-3a5b-8ef3-10bca052cfe1</versionedComponentId>
            <bundle>
                <artifact>nifi-elasticsearch-restapi-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>put-es-json-id-attr</key>
                        <value>
                            <name>put-es-json-id-attr</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-index-op</key>
                        <value>
                            <name>put-es-record-index-op</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-fetch-index</key>
                        <value>
                            <name>el-rest-fetch-index</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-type</key>
                        <value>
                            <name>el-rest-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-batch-size</key>
                        <value>
                            <name>put-es-record-batch-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-json-charset</key>
                        <value>
                            <name>put-es-json-charset</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-client-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.elasticsearch.ElasticSearchClientService</identifiesControllerService>
                            <name>el-rest-client-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-log-error-responses</key>
                        <value>
                            <name>put-es-record-log-error-responses</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-json-error-documents</key>
                        <value>
                            <name>put-es-json-error-documents</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-json-not_found-is-error</key>
                        <value>
                            <dependencies>
<dependentValues>true</dependentValues>
<propertyName>put-es-json-error-documents</propertyName>
                            </dependencies>
                            <name>put-es-json-not_found-is-error</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>put-es-json-id-attr</key>
                        <value>_id</value>
                    </entry>
                    <entry>
                        <key>put-es-record-index-op</key>
                        <value>upsert</value>
                    </entry>
                    <entry>
                        <key>el-rest-fetch-index</key>
                        <value>lab_report</value>
                    </entry>
                    <entry>
                        <key>el-rest-type</key>
                    </entry>
                    <entry>
                        <key>put-es-record-batch-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>put-es-json-charset</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>el-rest-client-service</key>
                        <value>2b36a355-37bd-3e23-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>put-es-record-log-error-responses</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>put-es-json-error-documents</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>put-es-json-not_found-is-error</key>
                        <value>true</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutElasticsearchJson</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>errors</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>retry</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.elasticsearch.PutElasticsearchJson</type>
        </processors>
    </snippet>
    <timestamp>01/11/2023 07:51:46 UTC</timestamp>
</template>
