cdc-sandbox/nifi/templates/Lab_Report.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>3ba22306-0184-1000-51a2-755307bc0a89</groupId>
    <name>Lab Report</name>
    <snippet>
        <controllerServices>
            <id>411e6188-a941-3fec-0000-000000000000</id>
            <parentGroupId>9a5c7d5f-45aa-3e81-0000-000000000000</parentGroupId>
            <versionedComponentId>411e6188-a941-3fec-880c-4d41f600e92d</versionedComponentId>
            <bundle>
                <artifact>nifi-elasticsearch-client-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.16.3</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>el-cs-http-hosts</key>
                    <value>
                        <name>el-cs-http-hosts</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-username</key>
                    <value>
                        <name>el-cs-username</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-password</key>
                    <value>
                        <name>el-cs-password</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-ssl-context-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                        <name>el-cs-ssl-context-service</name>
                    </value>
                </entry>
                <entry>
                    <key>proxy-configuration-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                        <name>proxy-configuration-service</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-connect-timeout</key>
                    <value>
                        <name>el-cs-connect-timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-socket-timeout</key>
                    <value>
                        <name>el-cs-socket-timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-retry-timeout</key>
                    <value>
                        <name>el-cs-retry-timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-charset</key>
                    <value>
                        <name>el-cs-charset</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-suppress-nulls</key>
                    <value>
                        <name>el-cs-suppress-nulls</name>
                    </value>
                </entry>
            </descriptors>
            <name>ElasticSearchClientServiceImpl</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>el-cs-http-hosts</key>
                    <value>http://elasticsearch:9200</value>
                </entry>
                <entry>
                    <key>el-cs-username</key>
                </entry>
                <entry>
                    <key>el-cs-password</key>
                </entry>
                <entry>
                    <key>el-cs-ssl-context-service</key>
                </entry>
                <entry>
                    <key>proxy-configuration-service</key>
                </entry>
                <entry>
                    <key>el-cs-connect-timeout</key>
                    <value>5000</value>
                </entry>
                <entry>
                    <key>el-cs-socket-timeout</key>
                    <value>60000</value>
                </entry>
                <entry>
                    <key>el-cs-retry-timeout</key>
                    <value>60000</value>
                </entry>
                <entry>
                    <key>el-cs-charset</key>
                    <value>UTF-8</value>
                </entry>
                <entry>
                    <key>el-cs-suppress-nulls</key>
                    <value>always-suppress</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.elasticsearch.ElasticSearchClientServiceImpl</type>
        </controllerServices>
        <controllerServices>
            <id>73cbdb95-e687-339b-0000-000000000000</id>
            <parentGroupId>9a5c7d5f-45aa-3e81-0000-000000000000</parentGroupId>
            <versionedComponentId>73cbdb95-e687-339b-83b5-764f11f044fc</versionedComponentId>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.16.3</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
                        <name>kerberos-user-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                    <value>
                        <name>kerberos-principal</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                    <value>
                        <name>kerberos-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>
                        <name>dbcp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>
                        <name>dbcp-max-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>
                        <name>dbcp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>
                        <name>dbcp-time-between-eviction-runs</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-soft-min-evictable-idle-time</name>
                    </value>
                </entry>
            </descriptors>
            <name>mymssqlserver</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>jdbc:sqlserver://nbs-mssql:1433;integratedSecurity=false;encrypt=false;databaseName=NBS_ODSE;user=sa;password=fake.fake.fake.1234;authenticationScheme=nativeAuthentication;</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>com.microsoft.sqlserver.jdbc.SQLServerDriver</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>/var/opt/nifi_drivers/mssql-jdbc-11.2.0.jre8.jar</value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                </entry>
                <entry>
                    <key>Database User</key>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>500 millis</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>30 mins</value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>-1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <processGroups>
            <id>57e39e7b-7c11-393e-0000-000000000000</id>
            <parentGroupId>9a5c7d5f-45aa-3e81-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>57e39e7b-7c11-393e-84e4-2806e84e0c5d</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>0e0854a6-0d0c-3bc1-0000-000000000000</id>
                    <parentGroupId>57e39e7b-7c11-393e-0000-000000000000</parentGroupId>
                    <versionedComponentId>8166f19a-5d0a-3cec-824a-9bdfa1822cab</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>57e39e7b-7c11-393e-0000-000000000000</groupId>
                        <id>54c0991c-6b98-3878-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>3425957b-6fb5-3469-b063-97798f620724</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>split</selectedRelationships>
                    <source>
                        <groupId>57e39e7b-7c11-393e-0000-000000000000</groupId>
                        <id>9bb2e2a0-83aa-3b76-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>d5c32859-ff01-3336-a4b0-559fe1f48ec3</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>0f97425f-e448-3a05-0000-000000000000</id>
                    <parentGroupId>57e39e7b-7c11-393e-0000-000000000000</parentGroupId>
                    <versionedComponentId>2093fb50-4cc3-3442-9ba4-e9c913f9fd4b</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>57e39e7b-7c11-393e-0000-000000000000</groupId>
                        <id>aebb52c1-ef35-34a5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>57e39e7b-7c11-393e-0000-000000000000</groupId>
                        <id>b922e8a4-e428-3d8f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>5d48ecb3-6ea5-355f-a5f5-ea8c76cda28b</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>167280e0-a931-356f-0000-000000000000</id>
                    <parentGroupId>57e39e7b-7c11-393e-0000-000000000000</parentGroupId>
                    <versionedComponentId>b6623b8f-14cd-3f6c-a464-455127623d3f</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>57e39e7b-7c11-393e-0000-000000000000</groupId>
                        <id>b11c5209-206c-333b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>57e39e7b-7c11-393e-0000-000000000000</groupId>
                        <id>54c0991c-6b98-3878-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>3425957b-6fb5-3469-b063-97798f620724</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1b3d670c-9970-3ff9-0000-000000000000</id>
                    <parentGroupId>57e39e7b-7c11-393e-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>57e39e7b-7c11-393e-0000-000000000000</groupId>
                        <id>323e75ab-bf2b-3143-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>57e39e7b-7c11-393e-0000-000000000000</groupId>
                        <id>b11c5209-206c-333b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>4c101fee-706e-378e-0000-000000000000</id>
                    <parentGroupId>57e39e7b-7c11-393e-0000-000000000000</parentGroupId>
                    <versionedComponentId>2deae02f-28f6-3a42-9ca1-e752078741eb</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>57e39e7b-7c11-393e-0000-000000000000</groupId>
                        <id>60454cc3-d7b1-3496-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ca77bf57-7a09-33fb-81a0-50e7782cf51c</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>57e39e7b-7c11-393e-0000-000000000000</groupId>
                        <id>c0adb459-7d23-3c59-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>127a909a-e938-369f-9cff-b6c81c889dc3</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>567109b1-fcc5-3e6e-0000-000000000000</id>
                    <parentGroupId>57e39e7b-7c11-393e-0000-000000000000</parentGroupId>
                    <versionedComponentId>130ef3ef-0127-3296-923e-f171d6ea43d9</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>57e39e7b-7c11-393e-0000-000000000000</groupId>
                        <id>263f8750-475d-3493-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>5a991e9c-2482-3e4c-8184-0292371c14c0</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>57e39e7b-7c11-393e-0000-000000000000</groupId>
                        <id>79fb0d53-a55e-36a3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>a3b1a16f-f9b9-35a2-9b50-4417f460e446</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>57004ed3-a059-3d0c-0000-000000000000</id>
                    <parentGroupId>57e39e7b-7c11-393e-0000-000000000000</parentGroupId>
                    <versionedComponentId>afcf1343-5d9d-36fa-8898-e7e5905dbb5e</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>57e39e7b-7c11-393e-0000-000000000000</groupId>
                        <id>b922e8a4-e428-3d8f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>5d48ecb3-6ea5-355f-a5f5-ea8c76cda28b</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>57e39e7b-7c11-393e-0000-000000000000</groupId>
                        <id>79fb0d53-a55e-36a3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>a3b1a16f-f9b9-35a2-9b50-4417f460e446</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6156cb39-071b-39b6-0000-000000000000</id>
                    <parentGroupId>57e39e7b-7c11-393e-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>57e39e7b-7c11-393e-0000-000000000000</groupId>
                        <id>51d0e130-c487-3a65-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>e6164941-4cdd-3a5b-8ef3-10bca052cfe1</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>57e39e7b-7c11-393e-0000-000000000000</groupId>
                        <id>b11c5209-206c-333b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>98583c37-a140-3570-0000-000000000000</id>
                    <parentGroupId>57e39e7b-7c11-393e-0000-000000000000</parentGroupId>
                    <versionedComponentId>674cf533-09cb-365a-b448-84f9096eb41d</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>57e39e7b-7c11-393e-0000-000000000000</groupId>
                        <id>3a876dce-7821-3541-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>7372aa6f-fa7b-393d-a90f-e80598f7331b</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>empty</selectedRelationships>
                    <source>
                        <groupId>57e39e7b-7c11-393e-0000-000000000000</groupId>
                        <id>b922e8a4-e428-3d8f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>5d48ecb3-6ea5-355f-a5f5-ea8c76cda28b</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a3d6a931-330a-3050-0000-000000000000</id>
                    <parentGroupId>57e39e7b-7c11-393e-0000-000000000000</parentGroupId>
                    <versionedComponentId>8dde950e-abdf-396a-a9ad-12dcb953f1d8</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>57e39e7b-7c11-393e-0000-000000000000</groupId>
                        <id>c0adb459-7d23-3c59-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>127a909a-e938-369f-9cff-b6c81c889dc3</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>57e39e7b-7c11-393e-0000-000000000000</groupId>
                        <id>d3098772-22d2-38d6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>d30b547f-f92d-3229-8cd3-892a479737d7</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a4007fe1-3050-3c5d-0000-000000000000</id>
                    <parentGroupId>57e39e7b-7c11-393e-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>57e39e7b-7c11-393e-0000-000000000000</groupId>
                        <id>54c0991c-6b98-3878-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>3425957b-6fb5-3469-b063-97798f620724</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>singleObject</selectedRelationships>
                    <source>
                        <groupId>57e39e7b-7c11-393e-0000-000000000000</groupId>
                        <id>aebb52c1-ef35-34a5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>aa0262d7-9cb4-312e-0000-000000000000</id>
                    <parentGroupId>57e39e7b-7c11-393e-0000-000000000000</parentGroupId>
                    <versionedComponentId>ce863792-b6d3-3eff-9376-445a76740ae5</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>57e39e7b-7c11-393e-0000-000000000000</groupId>
                        <id>6b9befe8-0ebf-3b2b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>7764d850-7187-3d3c-b1b6-0ff5487c9e9d</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>errors</selectedRelationships>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>57e39e7b-7c11-393e-0000-000000000000</groupId>
                        <id>51d0e130-c487-3a65-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>e6164941-4cdd-3a5b-8ef3-10bca052cfe1</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ac823925-e909-3ee8-0000-000000000000</id>
                    <parentGroupId>57e39e7b-7c11-393e-0000-000000000000</parentGroupId>
                    <versionedComponentId>d5f24a3e-5e27-3173-99fe-ad9756b7d64c</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>57e39e7b-7c11-393e-0000-000000000000</groupId>
                        <id>d3098772-22d2-38d6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>d30b547f-f92d-3229-8cd3-892a479737d7</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>aggregations</selectedRelationships>
                    <selectedRelationships>hits</selectedRelationships>
                    <source>
                        <groupId>57e39e7b-7c11-393e-0000-000000000000</groupId>
                        <id>01875816-2477-33b9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>b106898c-00c0-3dc9-9e96-007535e7662d</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>bb396145-0975-3c6c-0000-000000000000</id>
                    <parentGroupId>57e39e7b-7c11-393e-0000-000000000000</parentGroupId>
                    <versionedComponentId>2e27e907-7f2a-3053-a6b9-e61d4e5f5608</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>57e39e7b-7c11-393e-0000-000000000000</groupId>
                        <id>8d60a429-67cd-3546-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>744a85b0-9a50-3268-928a-c513b783e831</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>57e39e7b-7c11-393e-0000-000000000000</groupId>
                        <id>54c0991c-6b98-3878-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>3425957b-6fb5-3469-b063-97798f620724</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c29e7fbf-ae30-39d7-0000-000000000000</id>
                    <parentGroupId>57e39e7b-7c11-393e-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>57e39e7b-7c11-393e-0000-000000000000</groupId>
                        <id>9bb2e2a0-83aa-3b76-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>d5c32859-ff01-3336-a4b0-559fe1f48ec3</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>57e39e7b-7c11-393e-0000-000000000000</groupId>
                        <id>aebb52c1-ef35-34a5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ff75c1b1-5b15-37ff-0000-000000000000</id>
                    <parentGroupId>57e39e7b-7c11-393e-0000-000000000000</parentGroupId>
                    <versionedComponentId>d10eb826-9b38-39d3-acd5-a3bf2be8f800</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>57e39e7b-7c11-393e-0000-000000000000</groupId>
                        <id>79fb0d53-a55e-36a3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>a3b1a16f-f9b9-35a2-9b50-4417f460e446</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>57e39e7b-7c11-393e-0000-000000000000</groupId>
                        <id>c0adb459-7d23-3c59-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>127a909a-e938-369f-9cff-b6c81c889dc3</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <labels>
                    <id>08c090d4-a64b-3279-0000-000000000000</id>
                    <parentGroupId>57e39e7b-7c11-393e-0000-000000000000</parentGroupId>
                    <position>
                        <x>2044.9999687817008</x>
                        <y>629.9999655476252</y>
                    </position>
                    <versionedComponentId>04bc744c-ad07-31df-a961-e7ca089fccef</versionedComponentId>
                    <height>88.0</height>
                    <label>Query the db for anything with a change 
later than the latest"last_change"</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>16px</value>
                        </entry>
                    </style>
                    <width>320.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <labels>
                    <id>56e2e95d-c851-3d54-0000-000000000000</id>
                    <parentGroupId>57e39e7b-7c11-393e-0000-000000000000</parentGroupId>
                    <position>
                        <x>792.0</x>
                        <y>624.0</y>
                    </position>
                    <versionedComponentId>eac24c65-8e26-332a-9b42-fb6dec276a6c</versionedComponentId>
                    <height>88.0</height>
                    <label>Find the latest "last_change" date in ES</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>16px</value>
                        </entry>
                    </style>
                    <width>320.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <labels>
                    <id>ec21408a-f708-3eb7-0000-000000000000</id>
                    <parentGroupId>57e39e7b-7c11-393e-0000-000000000000</parentGroupId>
                    <position>
                        <x>1440.0</x>
                        <y>1248.0</y>
                    </position>
                    <versionedComponentId>bf087bce-1555-3d22-b404-811b9c5336e5</versionedComponentId>
                    <height>88.0</height>
                    <label>For each row returned, set an "_id" so
we can do Upsert when ingesting data</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>16px</value>
                        </entry>
                    </style>
                    <width>320.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <processors>
                    <id>01875816-2477-33b9-0000-000000000000</id>
                    <parentGroupId>57e39e7b-7c11-393e-0000-000000000000</parentGroupId>
                    <position>
                        <x>776.0</x>
                        <y>768.0</y>
                    </position>
                    <versionedComponentId>b106898c-00c0-3dc9-9e96-007535e7662d</versionedComponentId>
                    <bundle>
                        <artifact>nifi-elasticsearch-restapi-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>el-rest-query</key>
<value>
    <name>el-rest-query</name>
</value>
                            </entry>
                            <entry>
<key>el-query-attribute</key>
<value>
    <name>el-query-attribute</name>
</value>
                            </entry>
                            <entry>
<key>el-rest-fetch-index</key>
<value>
    <name>el-rest-fetch-index</name>
</value>
                            </entry>
                            <entry>
<key>el-rest-type</key>
<value>
    <name>el-rest-type</name>
</value>
                            </entry>
                            <entry>
<key>el-rest-client-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.elasticsearch.ElasticSearchClientService</identifiesControllerService>
    <name>el-rest-client-service</name>
</value>
                            </entry>
                            <entry>
<key>el-rest-split-up-hits</key>
<value>
    <name>el-rest-split-up-hits</name>
</value>
                            </entry>
                            <entry>
<key>el-rest-split-up-aggregations</key>
<value>
    <name>el-rest-split-up-aggregations</name>
</value>
                            </entry>
                            <entry>
<key>el-rest-pagination-type</key>
<value>
    <name>el-rest-pagination-type</name>
</value>
                            </entry>
                            <entry>
<key>el-rest-pagination-keep-alive</key>
<value>
    <name>el-rest-pagination-keep-alive</name>
</value>
                            </entry>
                            <entry>
<key>el-rest-output-no-hits</key>
<value>
    <name>el-rest-output-no-hits</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>PRIMARY</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>el-rest-query</key>
<value>{
  "size": 1,
  "query": {
    "match_all": {}
  },
  "_source": [
    "last_change"
    ],
  "sort" : [
    {
      "last_change_time": "desc"
    }
    ]
}</value>
                            </entry>
                            <entry>
<key>el-query-attribute</key>
                            </entry>
                            <entry>
<key>el-rest-fetch-index</key>
<value>lab_report</value>
                            </entry>
                            <entry>
<key>el-rest-type</key>
                            </entry>
                            <entry>
<key>el-rest-client-service</key>
<value>411e6188-a941-3fec-0000-000000000000</value>
                            </entry>
                            <entry>
<key>el-rest-split-up-hits</key>
<value>splitUp-yes</value>
                            </entry>
                            <entry>
<key>el-rest-split-up-aggregations</key>
<value>splitUp-no</value>
                            </entry>
                            <entry>
<key>el-rest-pagination-type</key>
<value>pagination-scroll</value>
                            </entry>
                            <entry>
<key>el-rest-pagination-keep-alive</key>
<value>1 secs</value>
                            </entry>
                            <entry>
<key>el-rest-output-no-hits</key>
<value>true</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>5 min</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>true</executionNodeRestricted>
                    <name>SearchElasticsearch</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>aggregations</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>hits</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.elasticsearch.SearchElasticsearch</type>
                </processors>
                <processors>
                    <id>263f8750-475d-3493-0000-000000000000</id>
                    <parentGroupId>57e39e7b-7c11-393e-0000-000000000000</parentGroupId>
                    <position>
                        <x>3352.0</x>
                        <y>768.0</y>
                    </position>
                    <versionedComponentId>5a991e9c-2482-3e4c-8184-0292371c14c0</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>log-level</key>
<value>
    <name>log-level</name>
</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>
    <name>log-prefix</name>
</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>
    <name>log-message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>log-level</key>
<value>error</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>LabReport-Avro-Json:</value>
                            </entry>
                            <entry>
<key>log-message</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogMessage</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#f20000</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.standard.LogMessage</type>
                </processors>
                <processors>
                    <id>323e75ab-bf2b-3143-0000-000000000000</id>
                    <parentGroupId>57e39e7b-7c11-393e-0000-000000000000</parentGroupId>
                    <position>
                        <x>848.0</x>
                        <y>1608.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>log-level</key>
<value>
    <name>log-level</name>
</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>
    <name>log-prefix</name>
</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>
    <name>log-message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>log-level</key>
<value>error</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>LabReport-ReplaceText:</value>
                            </entry>
                            <entry>
<key>log-message</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogMessage</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#f20000</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.standard.LogMessage</type>
                </processors>
                <processors>
                    <id>3a876dce-7821-3541-0000-000000000000</id>
                    <parentGroupId>57e39e7b-7c11-393e-0000-000000000000</parentGroupId>
                    <position>
                        <x>2656.0</x>
                        <y>1608.0</y>
                    </position>
                    <versionedComponentId>7372aa6f-fa7b-393d-a90f-e80598f7331b</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>log-level</key>
<value>
    <name>log-level</name>
</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>
    <name>log-prefix</name>
</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>
    <name>log-message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>log-level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>LabReport-No-Updates:</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>No updates found</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogMessage</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#158f00</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.standard.LogMessage</type>
                </processors>
                <processors>
                    <id>51d0e130-c487-3a65-0000-000000000000</id>
                    <parentGroupId>57e39e7b-7c11-393e-0000-000000000000</parentGroupId>
                    <position>
                        <x>248.0</x>
                        <y>1368.0</y>
                    </position>
                    <versionedComponentId>e6164941-4cdd-3a5b-8ef3-10bca052cfe1</versionedComponentId>
                    <bundle>
                        <artifact>nifi-elasticsearch-restapi-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>put-es-json-id-attr</key>
<value>
    <name>put-es-json-id-attr</name>
</value>
                            </entry>
                            <entry>
<key>put-es-record-index-op</key>
<value>
    <name>put-es-record-index-op</name>
</value>
                            </entry>
                            <entry>
<key>el-rest-fetch-index</key>
<value>
    <name>el-rest-fetch-index</name>
</value>
                            </entry>
                            <entry>
<key>el-rest-type</key>
<value>
    <name>el-rest-type</name>
</value>
                            </entry>
                            <entry>
<key>put-es-record-batch-size</key>
<value>
    <name>put-es-record-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>put-es-json-charset</key>
<value>
    <name>put-es-json-charset</name>
</value>
                            </entry>
                            <entry>
<key>el-rest-client-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.elasticsearch.ElasticSearchClientService</identifiesControllerService>
    <name>el-rest-client-service</name>
</value>
                            </entry>
                            <entry>
<key>put-es-record-log-error-responses</key>
<value>
    <name>put-es-record-log-error-responses</name>
</value>
                            </entry>
                            <entry>
<key>put-es-json-error-documents</key>
<value>
    <name>put-es-json-error-documents</name>
</value>
                            </entry>
                            <entry>
<key>put-es-json-not_found-is-error</key>
<value>
    <dependencies>
        <dependentValues>true</dependentValues>
        <propertyName>put-es-json-error-documents</propertyName>
    </dependencies>
    <name>put-es-json-not_found-is-error</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>put-es-json-id-attr</key>
<value>_id</value>
                            </entry>
                            <entry>
<key>put-es-record-index-op</key>
<value>upsert</value>
                            </entry>
                            <entry>
<key>el-rest-fetch-index</key>
<value>lab_report</value>
                            </entry>
                            <entry>
<key>el-rest-type</key>
                            </entry>
                            <entry>
<key>put-es-record-batch-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>put-es-json-charset</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>el-rest-client-service</key>
<value>411e6188-a941-3fec-0000-000000000000</value>
                            </entry>
                            <entry>
<key>put-es-record-log-error-responses</key>
<value>true</value>
                            </entry>
                            <entry>
<key>put-es-json-error-documents</key>
<value>true</value>
                            </entry>
                            <entry>
<key>put-es-json-not_found-is-error</key>
<value>true</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutElasticsearchJson</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>errors</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>retry</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.elasticsearch.PutElasticsearchJson</type>
                </processors>
                <processors>
                    <id>54c0991c-6b98-3878-0000-000000000000</id>
                    <parentGroupId>57e39e7b-7c11-393e-0000-000000000000</parentGroupId>
                    <position>
                        <x>1424.0</x>
                        <y>1360.0</y>
                    </position>
                    <versionedComponentId>3425957b-6fb5-3469-b063-97798f620724</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>_id</key>
<value>
    <name>_id</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>_id</key>
<value>$.observation_uid</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>EvaluateJsonPath</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>60454cc3-d7b1-3496-0000-000000000000</id>
                    <parentGroupId>57e39e7b-7c11-393e-0000-000000000000</parentGroupId>
                    <position>
                        <x>2024.0</x>
                        <y>1032.0</y>
                    </position>
                    <versionedComponentId>ca77bf57-7a09-33fb-81a0-50e7782cf51c</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>log-level</key>
<value>
    <name>log-level</name>
</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>
    <name>log-prefix</name>
</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>
    <name>log-message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>log-level</key>
<value>error</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>LabReport-Select:</value>
                            </entry>
                            <entry>
<key>log-message</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogMessage</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#f20000</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.standard.LogMessage</type>
                </processors>
                <processors>
                    <id>6b9befe8-0ebf-3b2b-0000-000000000000</id>
                    <parentGroupId>57e39e7b-7c11-393e-0000-000000000000</parentGroupId>
                    <position>
                        <x>248.0</x>
                        <y>1616.0</y>
                    </position>
                    <versionedComponentId>7764d850-7187-3d3c-b1b6-0ff5487c9e9d</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>log-level</key>
<value>
    <name>log-level</name>
</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>
    <name>log-prefix</name>
</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>
    <name>log-message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>log-level</key>
<value>error</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>LabReport-ElasticSearch-Upsert:</value>
                            </entry>
                            <entry>
<key>log-message</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogMessage</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#f20000</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.standard.LogMessage</type>
                </processors>
                <processors>
                    <id>79fb0d53-a55e-36a3-0000-000000000000</id>
                    <parentGroupId>57e39e7b-7c11-393e-0000-000000000000</parentGroupId>
                    <position>
                        <x>2656.0</x>
                        <y>768.0</y>
                    </position>
                    <versionedComponentId>a3b1a16f-f9b9-35a2-9b50-4417f460e446</versionedComponentId>
                    <bundle>
                        <artifact>nifi-avro-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JSON container options</key>
<value>
    <name>JSON container options</name>
</value>
                            </entry>
                            <entry>
<key>Wrap Single Record</key>
<value>
    <name>Wrap Single Record</name>
</value>
                            </entry>
                            <entry>
<key>Avro schema</key>
<value>
    <name>Avro schema</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JSON container options</key>
<value>array</value>
                            </entry>
                            <entry>
<key>Wrap Single Record</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Avro schema</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConvertAvroToJSON</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.avro.ConvertAvroToJSON</type>
                </processors>
                <processors>
                    <id>8d60a429-67cd-3546-0000-000000000000</id>
                    <parentGroupId>57e39e7b-7c11-393e-0000-000000000000</parentGroupId>
                    <position>
                        <x>1424.0</x>
                        <y>1608.0</y>
                    </position>
                    <versionedComponentId>744a85b0-9a50-3268-928a-c513b783e831</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>log-level</key>
<value>
    <name>log-level</name>
</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>
    <name>log-prefix</name>
</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>
    <name>log-message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>log-level</key>
<value>error</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>LabReport-Read-Id:</value>
                            </entry>
                            <entry>
<key>log-message</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogMessage</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#f20000</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.standard.LogMessage</type>
                </processors>
                <processors>
                    <id>9bb2e2a0-83aa-3b76-0000-000000000000</id>
                    <parentGroupId>57e39e7b-7c11-393e-0000-000000000000</parentGroupId>
                    <position>
                        <x>2032.0</x>
                        <y>1592.0</y>
                    </position>
                    <versionedComponentId>d5c32859-ff01-3336-a4b0-559fe1f48ec3</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JsonPath Expression</key>
<value>
    <name>JsonPath Expression</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JsonPath Expression</key>
<value>$</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitJson</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>split</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitJson</type>
                </processors>
                <processors>
                    <id>aebb52c1-ef35-34a5-0000-000000000000</id>
                    <parentGroupId>57e39e7b-7c11-393e-0000-000000000000</parentGroupId>
                    <position>
                        <x>2032.0</x>
                        <y>1344.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Match Requirement</key>
<value>
    <name>Match Requirement</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Content Buffer Size</key>
<value>
    <name>Content Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>singleObject</key>
<value>
    <name>singleObject</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Match Requirement</key>
<value>content must contain match</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Content Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>singleObject</key>
<value>^\{.*</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Check if single object</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>singleObject</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnContent</type>
                </processors>
                <processors>
                    <id>b11c5209-206c-333b-0000-000000000000</id>
                    <parentGroupId>57e39e7b-7c11-393e-0000-000000000000</parentGroupId>
                    <position>
                        <x>840.0</x>
                        <y>1352.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Regular Expression</key>
<value>
    <name>Regular Expression</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>
    <name>Replacement Value</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>
    <name>Replacement Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>
    <name>Evaluation Mode</name>
</value>
                            </entry>
                            <entry>
<key>Line-by-Line Evaluation Mode</key>
<value>
    <name>Line-by-Line Evaluation Mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Regular Expression</key>
<value>(?s)(^.*$)</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>${'$1':unescapeJson():replace('"[','['):replace(']"',']')} 
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>Regex Replace</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>Entire text</value>
                            </entry>
                            <entry>
<key>Line-by-Line Evaluation Mode</key>
<value>All</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ReplaceText</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ReplaceText</type>
                </processors>
                <processors>
                    <id>b922e8a4-e428-3d8f-0000-000000000000</id>
                    <parentGroupId>57e39e7b-7c11-393e-0000-000000000000</parentGroupId>
                    <position>
                        <x>2656.0</x>
                        <y>1360.0</y>
                    </position>
                    <versionedComponentId>5d48ecb3-6ea5-355f-a5f5-ea8c76cda28b</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Match Requirement</key>
<value>
    <name>Match Requirement</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Content Buffer Size</key>
<value>
    <name>Content Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>empty</key>
<value>
    <name>empty</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Match Requirement</key>
<value>content must match exactly</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Content Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>empty</key>
<value>\{\}</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Check if empty</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>empty</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnContent</type>
                </processors>
                <processors>
                    <id>c0adb459-7d23-3c59-0000-000000000000</id>
                    <parentGroupId>57e39e7b-7c11-393e-0000-000000000000</parentGroupId>
                    <position>
                        <x>2024.0</x>
                        <y>768.0</y>
                    </position>
                    <versionedComponentId>127a909a-e938-369f-9cff-b6c81c889dc3</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>Database Connection Pooling Service</name>
</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
<value>
    <name>sql-pre-query</name>
</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>
    <name>SQL select query</name>
</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
<value>
    <name>sql-post-query</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>
    <name>dbf-normalize</name>
</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>
    <name>dbf-user-logical-types</name>
</value>
                            </entry>
                            <entry>
<key>compression-format</key>
<value>
    <name>compression-format</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>
    <name>esql-max-rows</name>
</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>
    <name>esql-output-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>
    <name>esql-fetch-size</name>
</value>
                            </entry>
                            <entry>
<key>esql-auto-commit</key>
<value>
    <name>esql-auto-commit</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>73cbdb95-e687-339b-0000-000000000000</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>-- Lab Report
SELECT 
  last_change_time, 
  act.class_cd, 
  act.mood_cd, 
  act.act_uid, 
  o.observation_uid, 
  o.cd_desc_txt cd_desc_txt, 
  o.record_status_cd, 
  o.program_jurisdiction_oid program_jurisdiction_oid, 
  o.prog_area_cd program_area_cd, 
  o.jurisdiction_cd jurisdiction_cd, 
  o.pregnant_ind_cd pregnant_ind_cd, 
  o.local_id local_id, 
  o.activity_to_time activity_to_time, 
  o.effective_from_time effective_from_time, 
  o.rpt_to_state_time rpt_to_state_time, 
  o.add_time add_time, 
  o.electronic_ind electronic_ind, 
  o.version_ctrl_nbr version_ctrl_nbr, 
  o.add_user_id add_user_id, 
  o.last_chg_user_id last_chg_user_id, 
  o.last_chg_time observation_last_chg_time, 
  jc.code_desc_txt jurisdiction_code_desc_txt, 
  nesteddata.person_participations, 
  nesteddata.organization_participations, 
  nesteddata.material_participations, 
  nesteddata.observations, 
  nesteddata.associated_investigations, 
  nesteddata.act_ids 
FROM 
  Observation o 
  JOIN act ON o.observation_uid = act.act_uid 
  JOIN nbs_srte.dbo.jurisdiction_code jc ON (o.jurisdiction_cd = jc.code) OUTER apply (
    SELECT 
      * 
    FROM 
      (
        -- follow up observations associated with observation
        SELECT 
          (
            SELECT 
              o2.cd AS [cd], 
              o2.cd_desc_txt AS [cd_desc_txt], 
              o2.obs_domain_cd_st_1 AS [domain_cd_st_1], 
              o2.status_cd AS [status_cd], 
              o2.alt_cd AS [alt_cd], 
              o2.alt_cd_desc_txt AS [alt_cd_desc_txt], 
              o2.alt_cd_system_cd AS [alt_cd_system_cd], 
              ovc.display_name AS [display_name], 
              ovc.code AS [ovc_code], 
              ovc.alt_cd AS [ovc_alt_cd], 
              ovc.alt_cd_desc_txt AS [ovc_alt_cd_desc_txt], 
              ovc.alt_cd_system_cd AS [ovc_alt_cd_system_cd] 
            FROM 
              observation o2 
              LEFT JOIN Obs_value_coded ovc ON ovc.observation_uid = o2.observation_uid 
            WHERE 
              o2.observation_uid in(
                SELECT 
                  ar.source_act_uid 
                FROM 
                  act_relationship ar 
                WHERE 
                  ar.target_act_uid = o.observation_uid
              ) FOR json path
          ) AS observations
      ) AS observations, 
      (
        -- persons associated with observation
        SELECT 
          (
            SELECT 
              p.act_uid AS [act_uid], 
              p.type_cd AS [type_cd], 
              p.subject_entity_uid AS [entity_id], 
              p.subject_class_cd AS [subject_class_cd], 
              p.record_status_cd AS [participation_record_status], 
              p.last_chg_time AS [participation_last_change_time], 
              p.type_desc_txt AS [type_desc_txt], 
              person.first_nm AS [first_name], 
              person.last_nm AS [last_name], 
              person.local_id AS [local_id], 
              person.birth_time AS [birth_time], 
              person.curr_sex_cd AS [curr_sex_cd], 
              person.cd AS [person_cd], 
              person.person_parent_uid AS [person_parent_uid], 
              person.record_status_cd AS [person_record_status], 
              person.last_chg_time AS [person_last_chg_time] 
            FROM 
              participation p 
              JOIN person ON person.person_uid = (
                select 
                  person.person_parent_uid 
                from 
                  person 
                where 
                  person.person_uid = p.subject_entity_uid
              ) 
            WHERE 
              p.act_uid = o.observation_uid FOR json path
          ) AS person_participations
      ) AS person_participations, 
      -- organizations associated with observation
      (
        SELECT 
          (
            SELECT 
              p.act_uid AS [act_uid], 
              p.type_cd AS [type_cd], 
              p.subject_entity_uid AS [entity_id], 
              p.subject_class_cd AS [subject_class_cd], 
              p.record_status_cd AS [record_status], 
              p.type_desc_txt AS [type_desc_txt], 
              p.last_chg_time AS [last_change_time], 
              org.display_nm AS [name], 
              org.last_chg_time AS [org_last_change_time] 
            FROM 
              participation p 
              JOIN organization org ON org.organization_uid = p.subject_entity_uid 
            WHERE 
              p.act_uid = o.observation_uid FOR json path
          ) AS organization_participations
      ) AS organization_participations, 
      (
        -- material participations associated with observation
        SELECT 
          (
            SELECT 
              p.act_uid AS [act_uid], 
              p.type_cd AS [type_cd], 
              p.subject_entity_uid AS [entity_id], 
              p.subject_class_cd AS [subject_class_cd], 
              p.record_status_cd AS [record_status], 
              p.type_desc_txt AS [type_desc_txt], 
              p.last_chg_time AS [last_change_time], 
              m.cd AS [material_cd], 
              m.cd_desc_txt AS [material_cd_desc_txt] 
            FROM 
              participation p 
              JOIN material m ON m.material_uid = p.subject_entity_uid 
            WHERE 
              p.act_uid = o.observation_uid FOR json path
          ) AS material_participations
      ) AS material_participations, 
      -- act_ids associated with observation
      (
        SELECT 
          (
            SELECT 
              act_uid AS [id], 
              act_id_seq AS [act_id_seq], 
              record_status_cd AS [record_status], 
              root_extension_txt AS [root_extension_txt], 
              type_cd AS [type_cd], 
              type_desc_txt AS [type_desc_txt], 
              last_chg_time AS [last_change_time] 
            FROM 
              act_id 
            WHERE 
              act_uid = o.observation_uid FOR json path
          ) AS act_ids
      ) AS act_ids, 
      -- public health cases associated with lab report
      (
        SELECT 
          (
            SELECT 
              phc.public_health_case_uid AS [public_health_case_uid], 
              phc.last_chg_time AS [last_change_time], 
              phc.cd_desc_txt AS [cd_desc_txt], 
              phc.local_id AS [local_id], 
              ar.last_chg_time AS [act_relationship_last_change_time] 
            FROM 
              Public_health_case phc 
              JOIN Act_relationship ar ON ar.target_act_uid = phc.public_health_case_uid 
            WHERE 
              phc.public_health_case_uid = (
                SELECT 
                  ar.target_act_uid 
                FROM 
                  Act_relationship ar 
                WHERE 
                  ar.source_act_uid = o.observation_uid 
                  AND source_class_cd = 'OBS' 
                  AND target_class_cd = 'CASE'
              ) FOR JSON path
          ) AS associated_investigations
      ) as associated_investigations, 
      (
        SELECT 
          (
            SELECT 
              max(v) 
            FROM 
              (
                VALUES 
                  -- latest person change time
                  (
                    (
                      SELECT 
                        max(person.last_chg_time) 
                      FROM 
                        participation p 
                        JOIN person ON person.person_uid = (
                          select 
                            person.person_parent_uid 
                          from 
                            person 
                          where 
                            person.person_uid = p.subject_entity_uid
                        )
                      WHERE 
                        p.act_uid = o.observation_uid
                    )
                  ), 
                  -- observation last change time
                  (o.last_chg_time), 
                  -- act_relationship last change time
                  (
                    (
                      SELECT 
                        MAX(Act_relationship.last_chg_time) 
                      FROM 
                        Act_relationship 
                      WHERE 
                        act_relationship.target_act_uid = o.observation_uid 
                        OR act_relationship.source_act_uid = o.observation_uid
                    )
                  )
              ) AS value (v)
          ) AS last_change_time
      ) AS last_change_time
  ) AS nesteddata 
WHERE 
  o.observation_uid in(
    SELECT 
      target_act_uid 
    FROM 
      act_relationship
  ) 
  AND o.record_status_cd &lt;&gt; 'LOG_DEL' 
  AND last_change_time &gt; '${es_last_change}' 
ORDER BY 
  last_change_time ASC;
</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>false</value>
                            </entry>
                            <entry>
<key>compression-format</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-auto-commit</key>
<value>true</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>30 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Query for Lab Reports</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
                </processors>
                <processors>
                    <id>d3098772-22d2-38d6-0000-000000000000</id>
                    <parentGroupId>57e39e7b-7c11-393e-0000-000000000000</parentGroupId>
                    <position>
                        <x>1424.0</x>
                        <y>768.0</y>
                    </position>
                    <versionedComponentId>d30b547f-f92d-3229-8cd3-892a479737d7</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>es_last_change</key>
<value>
    <name>es_last_change</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>es_last_change</key>
<value>$._source.last_change</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>EvaluateJsonPath</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Lab Report</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>01/05/2023 17:34:33 UTC</timestamp>
</template>
