cdc-sandbox/nifi/templates/Lab_Report_Ingestion.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>3ba22306-0184-1000-51a2-755307bc0a89</groupId>
    <name>Lab Report Ingestion</name>
    <snippet>
        <controllerServices>
            <id>2b36a355-37bd-3e23-0000-000000000000</id>
            <parentGroupId>9a5c7d5f-45aa-3e81-0000-000000000000</parentGroupId>
            <versionedComponentId>2b36a355-37bd-3e23-998d-86429a18ecf7</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-elasticsearch-client-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>el-cs-http-hosts</key>
                    <value>
                        <name>el-cs-http-hosts</name>
                    </value>
                </entry>
                <entry>
                    <key>authorization-scheme</key>
                    <value>
                        <name>authorization-scheme</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-username</key>
                    <value>
                        <dependencies>
                            <dependentValues>BASIC</dependentValues>
                            <propertyName>authorization-scheme</propertyName>
                        </dependencies>
                        <name>el-cs-username</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-password</key>
                    <value>
                        <dependencies>
                            <dependentValues>BASIC</dependentValues>
                            <propertyName>authorization-scheme</propertyName>
                        </dependencies>
                        <name>el-cs-password</name>
                    </value>
                </entry>
                <entry>
                    <key>api-key-id</key>
                    <value>
                        <dependencies>
                            <dependentValues>API_KEY</dependentValues>
                            <propertyName>authorization-scheme</propertyName>
                        </dependencies>
                        <name>api-key-id</name>
                    </value>
                </entry>
                <entry>
                    <key>api-key</key>
                    <value>
                        <dependencies>
                            <dependentValues>API_KEY</dependentValues>
                            <propertyName>authorization-scheme</propertyName>
                        </dependencies>
                        <name>api-key</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-ssl-context-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                        <name>el-cs-ssl-context-service</name>
                    </value>
                </entry>
                <entry>
                    <key>proxy-configuration-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                        <name>proxy-configuration-service</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-connect-timeout</key>
                    <value>
                        <name>el-cs-connect-timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-socket-timeout</key>
                    <value>
                        <name>el-cs-socket-timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-retry-timeout</key>
                    <value>
                        <name>el-cs-retry-timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-charset</key>
                    <value>
                        <name>el-cs-charset</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-suppress-nulls</key>
                    <value>
                        <name>el-cs-suppress-nulls</name>
                    </value>
                </entry>
            </descriptors>
            <name>ElasticSearchClientServiceImpl</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>el-cs-http-hosts</key>
                    <value>${ELASTICSEARCH_HTTP_HOSTS}</value>
                </entry>
                <entry>
                    <key>authorization-scheme</key>
                    <value>BASIC</value>
                </entry>
                <entry>
                    <key>el-cs-username</key>
                </entry>
                <entry>
                    <key>el-cs-password</key>
                </entry>
                <entry>
                    <key>api-key-id</key>
                </entry>
                <entry>
                    <key>api-key</key>
                </entry>
                <entry>
                    <key>el-cs-ssl-context-service</key>
                </entry>
                <entry>
                    <key>proxy-configuration-service</key>
                </entry>
                <entry>
                    <key>el-cs-connect-timeout</key>
                    <value>5000</value>
                </entry>
                <entry>
                    <key>el-cs-socket-timeout</key>
                    <value>60000</value>
                </entry>
                <entry>
                    <key>el-cs-retry-timeout</key>
                    <value>60000</value>
                </entry>
                <entry>
                    <key>el-cs-charset</key>
                    <value>UTF-8</value>
                </entry>
                <entry>
                    <key>el-cs-suppress-nulls</key>
                    <value>always-suppress</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.elasticsearch.ElasticSearchClientServiceImpl</type>
        </controllerServices>
        <controllerServices>
            <id>62dfbc9b-35ed-3170-0000-000000000000</id>
            <parentGroupId>9a5c7d5f-45aa-3e81-0000-000000000000</parentGroupId>
            <versionedComponentId>62dfbc9b-35ed-3170-9740-018ee543de2f</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
                        <name>kerberos-user-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                    <value>
                        <name>kerberos-principal</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                    <value>
                        <name>kerberos-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>
                        <name>dbcp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>
                        <name>dbcp-max-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>
                        <name>dbcp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>
                        <name>dbcp-time-between-eviction-runs</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-soft-min-evictable-idle-time</name>
                    </value>
                </entry>
            </descriptors>
            <name>mymssqlserver</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>${JDBC_CONNECTION_STRING}</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>com.microsoft.sqlserver.jdbc.SQLServerDriver</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>${JDBC_DRIVER}</value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                </entry>
                <entry>
                    <key>Database User</key>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>500 millis</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>30 mins</value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>-1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <processGroups>
            <id>d15fe31a-31b6-31c4-0000-000000000000</id>
            <parentGroupId>9a5c7d5f-45aa-3e81-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>d15fe31a-31b6-31c4-9c64-266980207add</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>031305c3-a4f2-357f-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>c1fdd180-37e4-3dd7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>26e37cc5-07a4-3da3-9da6-fd8b29d8d219</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>ed5b8ee9-aeac-3d42-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>a5cd7131-4879-3cfe-91eb-2d2e349b3598</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>05825955-c822-3073-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <versionedComponentId>45f3e555-bd39-302d-a035-5bbe766e79fb</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>200</backPressureObjectThreshold>
                    <destination>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>17b2a3e3-ac46-336a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>310fae20-e461-38de-a9ee-b438bea92b6d</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>df13fafb-2823-32d9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>05ee49fc-f59a-39c5-93b7-b3f4c53a4ada</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>05d80625-dd12-38ae-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <versionedComponentId>cdf9ed44-c552-3388-8287-70400f2d1097</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>2696.0</x>
                        <y>64.0</y>
                    </bends>
                    <destination>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>c6ca52b6-e064-3dea-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>71a66e69-5762-3309-973a-f41e2a640c57</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>17b2a3e3-ac46-336a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>310fae20-e461-38de-a9ee-b438bea92b6d</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>22569bf0-7e3c-37de-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <versionedComponentId>9a8e2696-54ba-3bb7-831c-c48e1a9310d2</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>b5cd1bfa-b7f9-35a9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>86f7de64-a352-332d-b790-4b185be865de</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>e56df9e2-fe95-3fd2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>b3529037-20ee-310e-9014-7adab89ace02</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>2a9ca714-5075-3284-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <versionedComponentId>6d09cf0a-07c0-3882-8659-cd997d44d92b</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>1000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>6e2713ed-9956-310b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>6e2713ed-9956-310b-87ea-5611c759ca86</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>split</selectedRelationships>
                    <source>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>c1fdd180-37e4-3dd7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>26e37cc5-07a4-3da3-9da6-fd8b29d8d219</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>2c60f3ac-723f-3cf2-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <versionedComponentId>2c60f3ac-723f-3cf2-8ae9-a470b5f935e3</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>7811a705-0527-392a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>7811a705-0527-392a-81bb-40a7a210985d</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>5ec005af-09e5-3dee-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>5ec005af-09e5-3dee-87ad-3722f31bb473</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>3e313f59-a9e4-3bf4-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <versionedComponentId>c33d7295-0649-3da6-acbf-e3e2f94692cc</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>6815f679-0828-3a99-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>caf4c6e7-a79d-3efe-9fbe-99f9e20f0cf9</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>51193167-144b-34bb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>250ffdeb-e482-319e-b7ad-e5601e350a58</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>3ea94a82-70ac-3832-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <versionedComponentId>da38c2d4-894b-380b-8494-eaa408f38bcf</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>ae636379-016a-3482-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>3134fd63-7cce-311b-a7d2-24b408f68ec7</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>errors</selectedRelationships>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>e965e846-7f74-37f7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>3b7672b5-1ffe-362a-9652-192dd14f6ee2</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>44a3c476-5ae1-327b-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <versionedComponentId>c09e7f49-e3c4-3652-9009-f749556e1b02</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>9577989a-f87e-3062-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>b7096193-d6cd-3cf0-a0cd-4c21899e82ae</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>8ae63d50-4a3e-30dc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>4e656576-6268-32a2-abd5-4e72ef891d6a</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>69a461e1-4cbf-31d8-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <versionedComponentId>dc7ef478-3372-3146-91c8-f63af73230e5</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>200</backPressureObjectThreshold>
                    <destination>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>df13fafb-2823-32d9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>05ee49fc-f59a-39c5-93b7-b3f4c53a4ada</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>69c4c122-8312-366e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>9ea9b01e-c5da-3c20-86af-61f2776f45ac</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7ae41e5f-3939-3a65-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <versionedComponentId>58de5700-8348-3245-a19e-e0af822adbfa</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>200</backPressureObjectThreshold>
                    <destination>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>69c4c122-8312-366e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>9ea9b01e-c5da-3c20-86af-61f2776f45ac</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>e56df9e2-fe95-3fd2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>b3529037-20ee-310e-9014-7adab89ace02</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>8568d0e0-32b8-38b8-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <versionedComponentId>8568d0e0-32b8-38b8-948f-cdf717d6ccb8</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>da52e00a-a177-3954-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>e44f6b11-1196-3d16-b73a-13262b5de47a</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>6e2713ed-9956-310b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>6e2713ed-9956-310b-87ea-5611c759ca86</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>8e0414de-4096-3ac3-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <versionedComponentId>8e0414de-4096-3ac3-8a8a-13c9d2978a6d</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>e965e846-7f74-37f7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>3b7672b5-1ffe-362a-9652-192dd14f6ee2</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>9f75e5ff-c2ba-3b83-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>9f75e5ff-c2ba-3b83-8280-a1302359d0ff</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>99a7d471-cde9-3290-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <versionedComponentId>87beb440-1e35-3ab9-843d-12abb4228736</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100</backPressureObjectThreshold>
                    <destination>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>ed5b8ee9-aeac-3d42-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>a5cd7131-4879-3cfe-91eb-2d2e349b3598</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>17b2a3e3-ac46-336a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>310fae20-e461-38de-a9ee-b438bea92b6d</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>9ad7cd49-0aaa-35d6-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <versionedComponentId>575da15c-5516-37cd-853a-72501dac9910</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>2304.0</x>
                        <y>64.0</y>
                    </bends>
                    <destination>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>17b2a3e3-ac46-336a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>310fae20-e461-38de-a9ee-b438bea92b6d</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>c6ca52b6-e064-3dea-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>71a66e69-5762-3309-973a-f41e2a640c57</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a01511a2-0759-3c3e-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <versionedComponentId>a01511a2-0759-3c3e-86cd-40f56a71a590</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>5ec005af-09e5-3dee-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>5ec005af-09e5-3dee-87ad-3722f31bb473</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>matched</selectedRelationships>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>6e2713ed-9956-310b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>6e2713ed-9956-310b-87ea-5611c759ca86</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a9bc9949-864d-33c4-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <versionedComponentId>e7ce7ac3-70eb-3999-b67e-7b1deeac4385</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>8ae63d50-4a3e-30dc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>4e656576-6268-32a2-abd5-4e72ef891d6a</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>51193167-144b-34bb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>250ffdeb-e482-319e-b7ad-e5601e350a58</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c8511421-d5a9-3bb0-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <versionedComponentId>2a10bdb1-8a1d-300c-920b-6f85f80fb11d</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>e68ea47c-174d-3337-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>14dbdd48-569c-3299-92e0-ef663545db3e</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>ed5b8ee9-aeac-3d42-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>a5cd7131-4879-3cfe-91eb-2d2e349b3598</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c9dc593a-c974-3868-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <versionedComponentId>7191aeb6-db87-33f4-b9ee-e538e9403acb</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>200</backPressureObjectThreshold>
                    <destination>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>e56df9e2-fe95-3fd2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>b3529037-20ee-310e-9014-7adab89ace02</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>8ae63d50-4a3e-30dc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>4e656576-6268-32a2-abd5-4e72ef891d6a</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>cf1efdd5-eca4-3395-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <versionedComponentId>cf1efdd5-eca4-3395-8cb2-10b15431f80d</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>9f75e5ff-c2ba-3b83-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>9f75e5ff-c2ba-3b83-8280-a1302359d0ff</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>5ec005af-09e5-3dee-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>5ec005af-09e5-3dee-87ad-3722f31bb473</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f1e21a14-c73e-3906-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <versionedComponentId>26a4670b-2dc3-3c3c-933d-651f81712244</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>47224f83-9c79-3d84-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>046b3718-5c30-38ad-91e8-5fa89443f7b5</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>69c4c122-8312-366e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>9ea9b01e-c5da-3c20-86af-61f2776f45ac</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f27747b7-2c5f-3f63-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <versionedComponentId>f27747b7-2c5f-3f63-87c0-954d61a2e4d4</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>e6c1af06-cf2e-3bfb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>e6c1af06-cf2e-3bfb-824d-a562a4b2dbda</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>d15fe31a-31b6-31c4-0000-000000000000</groupId>
                        <id>9f75e5ff-c2ba-3b83-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>9f75e5ff-c2ba-3b83-8280-a1302359d0ff</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <labels>
                    <id>3bd1540d-1dcf-3010-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <position>
                        <x>2376.0</x>
                        <y>-200.0</y>
                    </position>
                    <versionedComponentId>a4166e92-c53a-316e-8ffe-a8712f9514f6</versionedComponentId>
                    <height>48.0</height>
                    <label>Query database using Id's to retrieve data
 to be inserted into Elasticsearch</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>16px</value>
                        </entry>
                    </style>
                    <width>312.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <labels>
                    <id>60cb4fba-91bb-3bb4-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <position>
                        <x>6264.0</x>
                        <y>-200.0</y>
                    </position>
                    <versionedComponentId>55e6f10d-33dc-330b-8e6f-5ca9b5d1e568</versionedComponentId>
                    <height>32.0</height>
                    <label>Insert into Elasticsearch</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>16px</value>
                        </entry>
                    </style>
                    <width>192.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <labels>
                    <id>9ec964ea-00d3-32f7-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <position>
                        <x>5136.0</x>
                        <y>-264.0</y>
                    </position>
                    <versionedComponentId>d79a8f68-570d-317a-92e9-6cf6d64fb798</versionedComponentId>
                    <height>72.0</height>
                    <label>Convert escaped JSON Strings into nested objects
by extracting into attributes and using the replace text 
processor</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>16px</value>
                        </entry>
                    </style>
                    <width>416.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <labels>
                    <id>a121634a-d5d0-3064-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <position>
                        <x>1696.0</x>
                        <y>-184.0</y>
                    </position>
                    <versionedComponentId>3148ae48-565c-3346-b511-8fef9ed7a790</versionedComponentId>
                    <height>32.0</height>
                    <label>Remove '[' and ']' from UID list</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>16px</value>
                        </entry>
                    </style>
                    <width>224.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <labels>
                    <id>e11b3b7a-7ec7-347f-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <position>
                        <x>992.0</x>
                        <y>-184.0</y>
                    </position>
                    <versionedComponentId>0db25c5b-35b6-39b7-a9b2-5b6c1546cd41</versionedComponentId>
                    <height>32.0</height>
                    <label>Extract UID's to an attribute</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>16px</value>
                        </entry>
                    </style>
                    <width>216.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <labels>
                    <id>e5e62c0d-7585-378a-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <position>
                        <x>-352.0</x>
                        <y>-192.0</y>
                    </position>
                    <versionedComponentId>9006e163-a2df-3e9d-8dbe-52964cd0b63e</versionedComponentId>
                    <height>32.0</height>
                    <label>Retrieve all observation_uid's from the database</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>16px</value>
                        </entry>
                    </style>
                    <width>424.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <processors>
                    <id>17b2a3e3-ac46-336a-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <position>
                        <x>2344.0</x>
                        <y>-128.0</y>
                    </position>
                    <versionedComponentId>310fae20-e461-38de-a9ee-b438bea92b6d</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.19.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>4</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>Database Connection Pooling Service</name>
</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
<value>
    <name>sql-pre-query</name>
</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>
    <name>SQL select query</name>
</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
<value>
    <name>sql-post-query</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>
    <name>dbf-normalize</name>
</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>
    <name>dbf-user-logical-types</name>
</value>
                            </entry>
                            <entry>
<key>compression-format</key>
<value>
    <name>compression-format</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>
    <name>esql-max-rows</name>
</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>
    <name>esql-output-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>
    <name>esql-fetch-size</name>
</value>
                            </entry>
                            <entry>
<key>esql-auto-commit</key>
<value>
    <name>esql-auto-commit</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>62dfbc9b-35ed-3170-0000-000000000000</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>-- Lab Report initial ingestion
SELECT 
  act.class_cd, 
  act.mood_cd, 
  act.act_uid, 
  results.* 
FROM 
  (
    SELECT 
      o.last_chg_time last_change_time, 
      o.observation_uid, 
      o.cd_desc_txt cd_desc_txt, 
      o.record_status_cd, 
      o.program_jurisdiction_oid program_jurisdiction_oid, 
      o.prog_area_cd program_area_cd, 
      o.jurisdiction_cd jurisdiction_cd, 
      o.pregnant_ind_cd pregnant_ind_cd, 
      o.local_id local_id, 
      o.activity_to_time activity_to_time, 
      o.effective_from_time effective_from_time, 
      o.rpt_to_state_time rpt_to_state_time, 
      o.add_time add_time, 
      o.electronic_ind electronic_ind, 
      o.version_ctrl_nbr version_ctrl_nbr, 
      o.add_user_id add_user_id, 
      o.last_chg_user_id last_chg_user_id, 
      o.last_chg_time observation_last_chg_time, 
      nesteddata.person_participations, 
      nesteddata.organization_participations, 
      nesteddata.material_participations, 
      nesteddata.observations, 
      nesteddata.associated_investigations, 
      nesteddata.act_ids 
    FROM 
      Observation o WITH (NOLOCK) OUTER apply (
        SELECT 
          * 
        FROM 
          (
            -- follow up observations associated with observation
            SELECT 
              (
                SELECT 
                  o2.cd AS [cd], 
                  o2.cd_desc_txt AS [cd_desc_txt], 
                  o2.obs_domain_cd_st_1 AS [domain_cd_st_1], 
                  o2.status_cd AS [status_cd], 
                  o2.alt_cd AS [alt_cd], 
                  o2.alt_cd_desc_txt AS [alt_cd_desc_txt], 
                  o2.alt_cd_system_cd AS [alt_cd_system_cd], 
                  STRING_ESCAPE(ovc.display_name, 'json') AS [display_name], 
                  ovc.code AS [ovc_code], 
                  ovc.alt_cd AS [ovc_alt_cd], 
                  ovc.alt_cd_desc_txt AS [ovc_alt_cd_desc_txt], 
                  ovc.alt_cd_system_cd AS [ovc_alt_cd_system_cd] 
                FROM 
                  observation o2 
                  WITH (NOLOCK)
                  LEFT JOIN Obs_value_coded ovc ON ovc.observation_uid = o2.observation_uid 
                WHERE 
                  o2.observation_uid in(
                    SELECT 
                      ar.source_act_uid 
                    FROM 
                      act_relationship ar 
                      WITH (NOLOCK)
                    WHERE 
                      ar.target_act_uid = o.observation_uid
                  ) FOR json path
              ) AS observations
          ) AS observations, 
          (
            -- persons associated with observation
            SELECT 
              (
                SELECT 
                  p.act_uid AS [act_uid], 
                  p.type_cd AS [type_cd], 
                  p.subject_entity_uid AS [entity_id], 
                  p.subject_class_cd AS [subject_class_cd], 
                  p.record_status_cd AS [participation_record_status], 
                  p.last_chg_time AS [participation_last_change_time], 
                  p.type_desc_txt AS [type_desc_txt], 
                  STRING_ESCAPE(person.first_nm, 'json') AS [first_name], 
                  STRING_ESCAPE(person.last_nm, 'json') AS [last_name], 
                  person.local_id AS [local_id], 
                  person.birth_time AS [birth_time], 
                  person.curr_sex_cd AS [curr_sex_cd], 
                  person.cd AS [person_cd], 
                  person.person_parent_uid AS [person_parent_uid], 
                  person.record_status_cd AS [person_record_status], 
                  person.last_chg_time AS [person_last_chg_time] 
                FROM 
                  participation p 
                  WITH (NOLOCK)
                  JOIN person ON person.person_uid = (
                    select 
                      person.person_parent_uid 
                    from 
                      person 
                    where 
                      person.person_uid = p.subject_entity_uid
                  ) 
                WHERE 
                  p.act_uid = o.observation_uid FOR json path
              ) AS person_participations
          ) AS person_participations, 
          -- organizations associated with observation
          (
            SELECT 
              (
                SELECT 
                  p.act_uid AS [act_uid], 
                  p.type_cd AS [type_cd], 
                  p.subject_entity_uid AS [entity_id], 
                  p.subject_class_cd AS [subject_class_cd], 
                  p.record_status_cd AS [record_status], 
                  p.type_desc_txt AS [type_desc_txt], 
                  p.last_chg_time AS [last_change_time], 
                  STRING_ESCAPE(org.display_nm, 'json') AS [name], 
                  org.last_chg_time AS [org_last_change_time] 
                FROM 
                  participation p 
                  WITH (NOLOCK)
                  JOIN organization org ON org.organization_uid = p.subject_entity_uid 
                WHERE 
                  p.act_uid = o.observation_uid FOR json path
              ) AS organization_participations
          ) AS organization_participations, 
          (
            -- material participations associated with observation
            SELECT 
              (
                SELECT 
                  p.act_uid AS [act_uid], 
                  p.type_cd AS [type_cd], 
                  p.subject_entity_uid AS [entity_id], 
                  p.subject_class_cd AS [subject_class_cd], 
                  p.record_status_cd AS [record_status], 
                  p.type_desc_txt AS [type_desc_txt], 
                  p.last_chg_time AS [last_change_time], 
                  m.cd AS [material_cd], 
                  m.cd_desc_txt AS [material_cd_desc_txt] 
                FROM 
                  participation p 
                  WITH (NOLOCK)
                  JOIN material m ON m.material_uid = p.subject_entity_uid 
                WHERE 
                  p.act_uid = o.observation_uid FOR json path
              ) AS material_participations
          ) AS material_participations, 
          -- act_ids associated with observation
          (
            SELECT 
              (
                SELECT 
                  act_uid AS [id], 
                  act_id_seq AS [act_id_seq], 
                  record_status_cd AS [record_status], 
                  root_extension_txt AS [root_extension_txt], 
                  type_cd AS [type_cd], 
                  type_desc_txt AS [type_desc_txt], 
                  last_chg_time AS [last_change_time] 
                FROM 
                  act_id 
                  WITH (NOLOCK)
                WHERE 
                  act_uid = o.observation_uid FOR json path
              ) AS act_ids
          ) AS act_ids, 
          -- public health cases associated with lab report
          (
            SELECT 
              (
                SELECT 
                  phc.public_health_case_uid AS [public_health_case_uid], 
                  phc.last_chg_time AS [last_change_time], 
                  phc.cd_desc_txt AS [cd_desc_txt], 
                  phc.local_id AS [local_id], 
                  ar.last_chg_time AS [act_relationship_last_change_time] 
                FROM 
                  Public_health_case phc 
                  WITH (NOLOCK)
                  JOIN Act_relationship ar ON ar.target_act_uid = phc.public_health_case_uid 
                WHERE 
                  phc.public_health_case_uid in (
                    SELECT 
                      ar.target_act_uid 
                    FROM 
                      Act_relationship ar 
                      WITH (NOLOCK)
                    WHERE 
                      ar.source_act_uid = o.observation_uid 
                      AND source_class_cd = 'OBS' 
                      AND target_class_cd = 'CASE'
                  ) FOR JSON path
              ) AS associated_investigations
          ) as associated_investigations
      ) AS nesteddata 
    WHERE 
     o.observation_uid in (${lab_report_ids})
  ) as results 
  JOIN act ON results.observation_uid = act.act_uid;</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>false</value>
                            </entry>
                            <entry>
<key>compression-format</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-auto-commit</key>
<value>true</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExecuteSQL</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
                </processors>
                <processors>
                    <id>47224f83-9c79-3d84-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <position>
                        <x>936.0</x>
                        <y>136.0</y>
                    </position>
                    <versionedComponentId>046b3718-5c30-38ad-91e8-5fa89443f7b5</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.19.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>log-level</key>
<value>
    <name>log-level</name>
</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>
    <name>log-prefix</name>
</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>
    <name>log-message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>log-level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>EvaluateJsonPath: </value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>Failed to extract public_health_case_uid from JSON</value>
                            </entry>
                        </properties>
                        <retriedRelationships>success</retriedRelationships>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogMessage</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>true</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogMessage</type>
                </processors>
                <processors>
                    <id>51193167-144b-34bb-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1064.0</x>
                        <y>-128.0</y>
                    </position>
                    <versionedComponentId>250ffdeb-e482-319e-b7ad-e5601e350a58</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.19.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>Database Connection Pooling Service</name>
</value>
                            </entry>
                            <entry>
<key>db-fetch-db-type</key>
<value>
    <name>db-fetch-db-type</name>
</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>
    <name>Table Name</name>
</value>
                            </entry>
                            <entry>
<key>Columns to Return</key>
<value>
    <name>Columns to Return</name>
</value>
                            </entry>
                            <entry>
<key>Maximum-value Columns</key>
<value>
    <name>Maximum-value Columns</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>gen-table-fetch-partition-size</key>
<value>
    <name>gen-table-fetch-partition-size</name>
</value>
                            </entry>
                            <entry>
<key>gen-table-column-for-val-partitioning</key>
<value>
    <name>gen-table-column-for-val-partitioning</name>
</value>
                            </entry>
                            <entry>
<key>db-fetch-where-clause</key>
<value>
    <name>db-fetch-where-clause</name>
</value>
                            </entry>
                            <entry>
<key>gen-table-custom-orderby-column</key>
<value>
    <name>gen-table-custom-orderby-column</name>
</value>
                            </entry>
                            <entry>
<key>gen-table-output-flowfile-on-zero-results</key>
<value>
    <name>gen-table-output-flowfile-on-zero-results</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>62dfbc9b-35ed-3170-0000-000000000000</value>
                            </entry>
                            <entry>
<key>db-fetch-db-type</key>
<value>MS SQL 2012+</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>observation</value>
                            </entry>
                            <entry>
<key>Columns to Return</key>
<value>observation_uid</value>
                            </entry>
                            <entry>
<key>Maximum-value Columns</key>
<value>last_chg_time</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>gen-table-fetch-partition-size</key>
<value>25000</value>
                            </entry>
                            <entry>
<key>gen-table-column-for-val-partitioning</key>
                            </entry>
                            <entry>
<key>db-fetch-where-clause</key>
<value>ctrl_cd_display_form = 'LabReport'</value>
                            </entry>
                            <entry>
<key>gen-table-custom-orderby-column</key>
                            </entry>
                            <entry>
<key>gen-table-output-flowfile-on-zero-results</key>
<value>false</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 min</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GenerateTableFetch</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateTableFetch</type>
                </processors>
                <processors>
                    <id>5ec005af-09e5-3dee-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <position>
                        <x>4856.0</x>
                        <y>-136.0</y>
                    </position>
                    <versionedComponentId>5ec005af-09e5-3dee-87ad-3722f31bb473</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.19.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>jolt-transform</key>
<value>
    <name>jolt-transform</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
<value>
    <dependencies>
        <dependentValues>jolt-transform-custom</dependentValues>
        <propertyName>jolt-spec</propertyName>
    </dependencies>
    <name>jolt-custom-class</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
<value>
    <dependencies>
        <dependentValues>jolt-transform-custom</dependentValues>
        <propertyName>jolt-spec</propertyName>
    </dependencies>
    <name>jolt-custom-modules</name>
</value>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>
    <name>jolt-spec</name>
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>
    <name>Transform Cache Size</name>
</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>
    <name>pretty_print</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>jolt-transform</key>
<value>jolt-transform-remove</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>{
	"person_participations": "",
	"organization_participations": "",
	"material_participations": "",
	"observations": "",
	"act_ids": "",
	"associated_investigations": ""
}</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>false</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>JoltTransformJSON</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                </processors>
                <processors>
                    <id>6815f679-0828-3a99-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1072.0</x>
                        <y>136.0</y>
                    </position>
                    <versionedComponentId>caf4c6e7-a79d-3efe-9fbe-99f9e20f0cf9</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.19.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>log-level</key>
<value>
    <name>log-level</name>
</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>
    <name>log-prefix</name>
</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>
    <name>log-message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>log-level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>LabReport initial load:</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>Failed to generate fetch queries</value>
                            </entry>
                        </properties>
                        <retriedRelationships>success</retriedRelationships>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogMessage</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>true</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogMessage</type>
                </processors>
                <processors>
                    <id>69c4c122-8312-366e-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <position>
                        <x>936.0</x>
                        <y>-128.0</y>
                    </position>
                    <versionedComponentId>9ea9b01e-c5da-3c20-86af-61f2776f45ac</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.19.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>lab_report_id</key>
<value>
    <name>lab_report_id</name>
</value>
                            </entry>
                            <entry>
<key>lab_report_ids</key>
<value>
    <name>lab_report_ids</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>json</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>lab_report_id</key>
<value>$.observation_uid</value>
                            </entry>
                            <entry>
<key>lab_report_ids</key>
<value>$.[*].observation_uid</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>EvaluateJsonPath</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>6e2713ed-9956-310b-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <position>
                        <x>4192.0</x>
                        <y>-136.0</y>
                    </position>
                    <versionedComponentId>6e2713ed-9956-310b-87ea-5611c759ca86</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.19.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>_id</key>
<value>
    <name>_id</name>
</value>
                            </entry>
                            <entry>
<key>act_ids</key>
<value>
    <name>act_ids</name>
</value>
                            </entry>
                            <entry>
<key>associated_investigations</key>
<value>
    <name>associated_investigations</name>
</value>
                            </entry>
                            <entry>
<key>material_participations</key>
<value>
    <name>material_participations</name>
</value>
                            </entry>
                            <entry>
<key>observations</key>
<value>
    <name>observations</name>
</value>
                            </entry>
                            <entry>
<key>organization_participations</key>
<value>
    <name>organization_participations</name>
</value>
                            </entry>
                            <entry>
<key>person_participations</key>
<value>
    <name>person_participations</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>the string 'null'</value>
                            </entry>
                            <entry>
<key>_id</key>
<value>$.observation_uid</value>
                            </entry>
                            <entry>
<key>act_ids</key>
<value>$.act_ids</value>
                            </entry>
                            <entry>
<key>associated_investigations</key>
<value>$.associated_investigations</value>
                            </entry>
                            <entry>
<key>material_participations</key>
<value>$.material_participations</value>
                            </entry>
                            <entry>
<key>observations</key>
<value>$.observations</value>
                            </entry>
                            <entry>
<key>organization_participations</key>
<value>$.organization_participations</value>
                            </entry>
                            <entry>
<key>person_participations</key>
<value>$.person_participations</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>EvaluateJsonPath</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>7811a705-0527-392a-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <position>
                        <x>4856.0</x>
                        <y>136.0</y>
                    </position>
                    <versionedComponentId>7811a705-0527-392a-81bb-40a7a210985d</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.19.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>log-level</key>
<value>
    <name>log-level</name>
</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>
    <name>log-prefix</name>
</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>
    <name>log-message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>log-level</key>
<value>error</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>LabReport-Jolt:</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>Failed to transform JSON with Jolt</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogMessage</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#ffffff</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.standard.LogMessage</type>
                </processors>
                <processors>
                    <id>8ae63d50-4a3e-30dc-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <position>
                        <x>-336.0</x>
                        <y>-128.0</y>
                    </position>
                    <versionedComponentId>4e656576-6268-32a2-abd5-4e72ef891d6a</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.19.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>Database Connection Pooling Service</name>
</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
<value>
    <name>sql-pre-query</name>
</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>
    <name>SQL select query</name>
</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
<value>
    <name>sql-post-query</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>
    <name>dbf-normalize</name>
</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>
    <name>dbf-user-logical-types</name>
</value>
                            </entry>
                            <entry>
<key>compression-format</key>
<value>
    <name>compression-format</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>
    <name>esql-max-rows</name>
</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>
    <name>esql-output-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>
    <name>esql-fetch-size</name>
</value>
                            </entry>
                            <entry>
<key>esql-auto-commit</key>
<value>
    <name>esql-auto-commit</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>62dfbc9b-35ed-3170-0000-000000000000</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
                            </entry>
                            <entry>
<key>SQL select query</key>
                            </entry>
                            <entry>
<key>sql-post-query</key>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>false</value>
                            </entry>
                            <entry>
<key>compression-format</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>250</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-auto-commit</key>
<value>true</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExecuteSQL</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
                </processors>
                <processors>
                    <id>9577989a-f87e-3062-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <position>
                        <x>-336.0</x>
                        <y>144.0</y>
                    </position>
                    <versionedComponentId>b7096193-d6cd-3cf0-a0cd-4c21899e82ae</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.19.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>log-level</key>
<value>
    <name>log-level</name>
</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>
    <name>log-prefix</name>
</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>
    <name>log-message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>log-level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>LabReport initial load:</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>Failed to query database for observation_uid's</value>
                            </entry>
                        </properties>
                        <retriedRelationships>success</retriedRelationships>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogMessage</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>true</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogMessage</type>
                </processors>
                <processors>
                    <id>9f75e5ff-c2ba-3b83-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <position>
                        <x>5504.0</x>
                        <y>-136.0</y>
                    </position>
                    <versionedComponentId>9f75e5ff-c2ba-3b83-8280-a1302359d0ff</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.19.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Regular Expression</key>
<value>
    <name>Regular Expression</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>
    <name>Replacement Value</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>
    <name>Replacement Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>
    <name>Evaluation Mode</name>
</value>
                            </entry>
                            <entry>
<key>Line-by-Line Evaluation Mode</key>
<value>
    <name>Line-by-Line Evaluation Mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Regular Expression</key>
<value>(}$)</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>,"person_participations":${person_participations},"organization_participations":${organization_participations},"material_participations":${material_participations},"observations":${observations},"act_ids":${act_ids},"associated_investigations":${associated_investigations}}</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>Regex Replace</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>Entire text</value>
                            </entry>
                            <entry>
<key>Line-by-Line Evaluation Mode</key>
<value>All</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ReplaceText</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ReplaceText</type>
                </processors>
                <processors>
                    <id>ae636379-016a-3482-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <position>
                        <x>6192.0</x>
                        <y>136.0</y>
                    </position>
                    <versionedComponentId>3134fd63-7cce-311b-a7d2-24b408f68ec7</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.19.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>log-level</key>
<value>
    <name>log-level</name>
</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>
    <name>log-prefix</name>
</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>
    <name>log-message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>log-level</key>
<value>error</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>LabReport-ElasticSearch-Upsert:</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>Failed to insert into Elasticsearch</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogMessage</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#ffffff</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.standard.LogMessage</type>
                </processors>
                <processors>
                    <id>b5cd1bfa-b7f9-35a9-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <position>
                        <x>272.0</x>
                        <y>144.0</y>
                    </position>
                    <versionedComponentId>86f7de64-a352-332d-b790-4b185be865de</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.19.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>log-level</key>
<value>
    <name>log-level</name>
</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>
    <name>log-prefix</name>
</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>
    <name>log-message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>log-level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>Convert Avro to Json failure:</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>Failed to convert databse results to JSON format</value>
                            </entry>
                        </properties>
                        <retriedRelationships>success</retriedRelationships>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogMessage</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>true</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogMessage</type>
                </processors>
                <processors>
                    <id>c1fdd180-37e4-3dd7-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <position>
                        <x>3576.0</x>
                        <y>-126.54610443115234</y>
                    </position>
                    <versionedComponentId>26e37cc5-07a4-3da3-9da6-fd8b29d8d219</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.19.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JsonPath Expression</key>
<value>
    <name>JsonPath Expression</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JsonPath Expression</key>
<value>$</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitJson</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>split</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitJson</type>
                </processors>
                <processors>
                    <id>c6ca52b6-e064-3dea-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <position>
                        <x>2344.0</x>
                        <y>144.0</y>
                    </position>
                    <versionedComponentId>71a66e69-5762-3309-973a-f41e2a640c57</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.19.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>log-level</key>
<value>
    <name>log-level</name>
</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>
    <name>log-prefix</name>
</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>
    <name>log-message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>log-level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
                            </entry>
                            <entry>
<key>log-message</key>
                            </entry>
                        </properties>
                        <retriedRelationships>success</retriedRelationships>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>5 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogMessage</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>true</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogMessage</type>
                </processors>
                <processors>
                    <id>da52e00a-a177-3954-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <position>
                        <x>4200.0</x>
                        <y>144.0</y>
                    </position>
                    <versionedComponentId>e44f6b11-1196-3d16-b73a-13262b5de47a</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.19.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>log-level</key>
<value>
    <name>log-level</name>
</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>
    <name>log-prefix</name>
</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>
    <name>log-message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>log-level</key>
<value>error</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>LabReport-Read-Id:</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>Failed to extract observation_uid from JSON</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogMessage</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#ffffff</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.standard.LogMessage</type>
                </processors>
                <processors>
                    <id>df13fafb-2823-32d9-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <position>
                        <x>1648.0</x>
                        <y>-128.0</y>
                    </position>
                    <versionedComponentId>05ee49fc-f59a-39c5-93b7-b3f4c53a4ada</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.19.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>lab_report_ids</key>
<value>
    <name>lab_report_ids</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>lab_report_ids</key>
<value>${allAttributes("lab_report_ids","lab_report_id"):replace('[',''):replace(']',''):join(" "):replaceAll("^ +",""):replaceAll(" +$",""):replace(" ",","):join("")}</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>e56df9e2-fe95-3fd2-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <position>
                        <x>272.0</x>
                        <y>-128.0</y>
                    </position>
                    <versionedComponentId>b3529037-20ee-310e-9014-7adab89ace02</versionedComponentId>
                    <bundle>
                        <artifact>nifi-avro-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.19.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JSON container options</key>
<value>
    <name>JSON container options</name>
</value>
                            </entry>
                            <entry>
<key>Wrap Single Record</key>
<value>
    <name>Wrap Single Record</name>
</value>
                            </entry>
                            <entry>
<key>Avro schema</key>
<value>
    <name>Avro schema</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JSON container options</key>
<value>array</value>
                            </entry>
                            <entry>
<key>Wrap Single Record</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Avro schema</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConvertAvroToJSON</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.avro.ConvertAvroToJSON</type>
                </processors>
                <processors>
                    <id>e68ea47c-174d-3337-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <position>
                        <x>2952.0</x>
                        <y>144.0</y>
                    </position>
                    <versionedComponentId>14dbdd48-569c-3299-92e0-ef663545db3e</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.19.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>log-level</key>
<value>
    <name>log-level</name>
</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>
    <name>log-prefix</name>
</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>
    <name>log-message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>log-level</key>
<value>error</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>Labreport-Avro-Json:</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>Failed to convert AVRO to JSON</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogMessage</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#ffffff</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.standard.LogMessage</type>
                </processors>
                <processors>
                    <id>e6c1af06-cf2e-3bfb-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <position>
                        <x>5504.0</x>
                        <y>136.0</y>
                    </position>
                    <versionedComponentId>e6c1af06-cf2e-3bfb-824d-a562a4b2dbda</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.19.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>log-level</key>
<value>
    <name>log-level</name>
</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>
    <name>log-prefix</name>
</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>
    <name>log-message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>log-level</key>
<value>error</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>LabReport-Jolt:</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>Failed to transform JSON with Jolt</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogMessage</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#ffffff</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.standard.LogMessage</type>
                </processors>
                <processors>
                    <id>e965e846-7f74-37f7-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <position>
                        <x>6184.0</x>
                        <y>-136.0</y>
                    </position>
                    <versionedComponentId>3b7672b5-1ffe-362a-9652-192dd14f6ee2</versionedComponentId>
                    <bundle>
                        <artifact>nifi-elasticsearch-restapi-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.19.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>put-es-json-id-attr</key>
<value>
    <name>put-es-json-id-attr</name>
</value>
                            </entry>
                            <entry>
<key>put-es-record-index-op</key>
<value>
    <name>put-es-record-index-op</name>
</value>
                            </entry>
                            <entry>
<key>el-rest-fetch-index</key>
<value>
    <name>el-rest-fetch-index</name>
</value>
                            </entry>
                            <entry>
<key>el-rest-type</key>
<value>
    <name>el-rest-type</name>
</value>
                            </entry>
                            <entry>
<key>put-es-record-batch-size</key>
<value>
    <name>put-es-record-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>put-es-json-charset</key>
<value>
    <name>put-es-json-charset</name>
</value>
                            </entry>
                            <entry>
<key>el-rest-client-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.elasticsearch.ElasticSearchClientService</identifiesControllerService>
    <name>el-rest-client-service</name>
</value>
                            </entry>
                            <entry>
<key>put-es-record-log-error-responses</key>
<value>
    <name>put-es-record-log-error-responses</name>
</value>
                            </entry>
                            <entry>
<key>put-es-json-error-documents</key>
<value>
    <name>put-es-json-error-documents</name>
</value>
                            </entry>
                            <entry>
<key>put-es-json-not_found-is-error</key>
<value>
    <dependencies>
        <dependentValues>true</dependentValues>
        <propertyName>put-es-json-error-documents</propertyName>
    </dependencies>
    <name>put-es-json-not_found-is-error</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>put-es-json-id-attr</key>
<value>_id</value>
                            </entry>
                            <entry>
<key>put-es-record-index-op</key>
<value>upsert</value>
                            </entry>
                            <entry>
<key>el-rest-fetch-index</key>
<value>lab_report</value>
                            </entry>
                            <entry>
<key>el-rest-type</key>
                            </entry>
                            <entry>
<key>put-es-record-batch-size</key>
<value>500</value>
                            </entry>
                            <entry>
<key>put-es-json-charset</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>el-rest-client-service</key>
<value>2b36a355-37bd-3e23-0000-000000000000</value>
                            </entry>
                            <entry>
<key>put-es-record-log-error-responses</key>
<value>true</value>
                            </entry>
                            <entry>
<key>put-es-json-error-documents</key>
<value>true</value>
                            </entry>
                            <entry>
<key>put-es-json-not_found-is-error</key>
<value>true</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutElasticsearchJson</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>errors</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>retry</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.elasticsearch.PutElasticsearchJson</type>
                </processors>
                <processors>
                    <id>ed5b8ee9-aeac-3d42-0000-000000000000</id>
                    <parentGroupId>d15fe31a-31b6-31c4-0000-000000000000</parentGroupId>
                    <position>
                        <x>2952.0</x>
                        <y>-126.54610443115234</y>
                    </position>
                    <versionedComponentId>a5cd7131-4879-3cfe-91eb-2d2e349b3598</versionedComponentId>
                    <bundle>
                        <artifact>nifi-avro-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.19.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JSON container options</key>
<value>
    <name>JSON container options</name>
</value>
                            </entry>
                            <entry>
<key>Wrap Single Record</key>
<value>
    <name>Wrap Single Record</name>
</value>
                            </entry>
                            <entry>
<key>Avro schema</key>
<value>
    <name>Avro schema</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JSON container options</key>
<value>array</value>
                            </entry>
                            <entry>
<key>Wrap Single Record</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Avro schema</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConvertAvroToJSON</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.avro.ConvertAvroToJSON</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Lab Report Ingestion</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>02/02/2023 19:44:11 UTC</timestamp>
</template>
